[2020-05-11 03:21] andyzhangx opened #6 "enable sanity test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to following link to set up a containerized samba in CI environment:
https://github.com/dperson/samba

[code]

**Describe alternatives you've considered**

**Additional context**

[2020-05-11 03:23] andyzhangx opened #7 "password should not be exposed in logs"
**What happened**:
password should not be exposed in logs:
[code]

https://github.com/csi-driver/csi-driver-smb/blob/bcd8d774b631d8a6281ed7184a357183c84fff29/deploy/example/logs/csi-smb-node.log#L39

similar to fix: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/64

related code:
https://github.com/csi-driver/csi-driver-smb/blob/bcd8d774b631d8a6281ed7184a357183c84fff29/pkg/csi-common

[2020-05-11 03:26] andyzhangx opened #8 "Enable golint check in travis"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Enable golint check in travis failed:
https://github.com/csi-driver/csi-driver-smb/pull/5

**Describe alternatives you've considered**

**Additional context**

[2020-05-11 03:28] andyzhangx opened #9 "add e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Would work on this after migration to
https://github.com/kubernetes-csi/csi-driver-smb

refer to following link to set up a containerized samba in CI environment:
https://github.com/dperson/samba

**Describe alternatives you've considered**

 - step 1. suppose you are already on a

[2020-05-11 11:34] andyzhangx opened #11 "add windows container build test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Current travis CI only has linux container build test:
https://github.com/csi-driver/csi-driver-smb/blob/7afe6a031742d7347b1177fd2b7c841f88bc70bb/.travis.yml#L14

**Describe alternatives you've considered**

**Additional context**

[2020-05-11 12:29] andyzhangx opened #12 "improve unit test coverage"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

current code coverage:
https://coveralls.io/github/kubernetes-csi/csi-driver-smb?branch=master
![image](https://user-images.githubusercontent.com/4178417/81561621-0979b400-93c6-11ea-8e48-d7b86c0280ae.png)

**Describe alternatives you've considered**

**Additional context**

[2020-05-12 12:44] andyzhangx opened #13 "use distroless/static as base image"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to PR: kubernetes-sigs/cloud-provider-azure#333

**Describe alternatives you've considered**

**Additional context**

[2020-05-13 06:13] andyzhangx opened #15 "enable code coverage test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-csi/csi-driver-smb/blob/cafe443ae061e4ccf9c7bfac048fce390b5ffc05/.travis.yml#L12-L13

Need to add this repo in code coverage website, otherwise will get following error:

[code]
**Describe alternatives you've considered**

**Additional context**

[2020-05-13 08:37] andyzhangx opened #16 "publish container linux and windows images in quay.io"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently docker files are under here:
https://github.com/kubernetes-csi/csi-driver-smb/blob/master/pkg/smbplugin/Dockerfile
https://github.com/kubernetes-csi/csi-driver-smb/blob/master/pkg/smbplugin/Windows.Dockerfile

could refer to:
https://github.com/kubernetes-csi/csi-driver-n

[2020-05-13 13:30] wozniakjan commented on #16
hi @andyzhangx, the csi-release-tools repo contains very useful documentation on how to get started - https://github.com/kubernetes-csi/csi-release-tools/.

I am not entirely sure the tooling supports windows images too, tagging @pohly as he is much more knowledgeable point of contact with regards to the csi-release-tools.

[2020-05-13 19:33] msau42 commented on #16
We're trying to move our image publishing to the k8s-infra and @jingxu97 is working on getting Windows image building working there.

[2020-05-14 06:41] animeshk08 commented on #7
Hi @andyzhangx Can I work on this issue?

[2020-05-14 06:50] andyzhangx commented on #7
sure
/assign @animeshk08

[2020-05-14 06:52] andyzhangx commented on #7
are you a student  applying for this linux community bridge now?  @animeshk08
https://people.communitybridge.org/project/2d438b9a-c539-46d0-9eed-c6ee4404c88a
if so, add my slack: andyzhang @kubernetes

[2020-05-14 14:16] #7 closed

[2020-05-15 11:25] andyzhangx opened #19 "update base image with debian-base"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

update base image with debian-base which has less security vulnerability:
could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/273

**Describe alternatives you've considered**

**Additional context**

[2020-05-24 03:10] andyzhangx commented on #15
it's done

[2020-05-24 03:10] #15 closed

[2020-05-24 03:15] andyzhangx commented on #12
it's now:
![image](https://user-images.githubusercontent.com/4178417/82744779-cbaa6180-9daf-11ea-81b5-0f583586abb9.png)

[2020-05-24 03:15] andyzhangx commented on #8
it's done

[2020-05-24 03:15] #8 closed

[2020-05-25 01:30] andyzhangx opened #21 "provide helm installation"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/294

**Describe alternatives you've considered**

**Additional context**

[2020-06-03 11:42] andyzhangx commented on #19
@animeshk08
can you work on this? thanks

[2020-06-03 11:43] andyzhangx commented on #12
@animeshk08
can you work on this? thanks

[2020-06-03 15:31] andyzhangx commented on #16
@jingxu97 do you know how can I publish the repo image to quay, it should support both windows and linux image. I am thinking whether it's appropriate to host the images on `mcr.microsoft.com` which I am quite familiar with.

[2020-06-03 15:52] xing-yang commented on #16
@andyzhangx we are moving away from quay and publish images to the community infra.  See issue opened here: https://github.com/kubernetes-csi/csi-release-tools/issues/86

@pohly is in the process of making this change for all kubernetes-csi repos.

See this one for example: https://github.com/kubernetes-csi/csi-proxy/pull/54

[2020-06-03 17:49] animeshk08 commented on #19
Sure! Thanks!

[2020-06-03 17:49] animeshk08 commented on #12
Sure! Thanks!

[2020-06-07 14:52] andyzhangx opened #23 "support without credential case"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to https://github.com/microsoft/K8s-Storage-Plugins/issues/17

**Describe alternatives you've considered**

**Additional context**

[2020-06-09 07:14] andyzhangx commented on #6
/assign @Sakuralbj

[2020-06-09 07:50] Sakuralbj commented on #6
I'll do it.

[2020-06-09 07:51] Sakuralbj commented on #6
/assign

[2020-06-13 13:25] #19 closed

[2020-06-17 08:57] andyzhangx opened #29 "enable integration test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to
https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/test/integration

**Describe alternatives you've considered**

**Additional context**

[2020-06-17 08:57] andyzhangx commented on #29
@Sakuralbj

[2020-06-18 22:52] putz612 opened #30 "Unable to mount multiple shares in one pod"
**What happened**:
When two shares are declared in a deployment the pod never comes ready.   Have one or the other volume works perfectly.
**What you expected to happen**:
To be able to mount multiple share/volumes in a single pod
**How to reproduce it**:
Declare two PV/PVC per the documentation
Create a deployment mounting the PVC to separate volume mount points
- /host/shareA mount to /a
-  /hos

[2020-06-21 02:25] andyzhangx opened #32 "support generic ephemeral volume"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like in detail**

could refer to https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html#example-of-inline-csi-pod-spec

**Describe alternatives you've considered**

**Additional context**

The minimum supported k8s version is 1.15

[2020-06-21 02:28] andyzhangx commented on #30
that's probably due to same volumeid in your two PVs: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/pv-smb-csi.yaml#L19

pls make sure your volume id is unique:
`volumeHandle: unique-volumeid  # make sure it's a unique id in the cluster`

[2020-06-24 02:37] andyzhangx opened #36 "Write a samba server kubernetes deployment"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://hub.docker.com/r/servercontainers/samba
there is also a reference here: https://github.com/dperson/samba

And there is also a working example here: https://github.com/kubernetes-csi/csi-driver-smb/pull/34, this example just uses docker, need to change to k8s

[2020-06-24 06:41] andyzhangx opened #37 "mask password in mountOptions"
**What happened**:
Currently csi driver node logs would print out `mountOptions`, while it may contain password, e.g.
https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/logs/csi-smb-node.log#L40
[code]

Related code is here:
https://github.com/kubernetes-csi/csi-driver-smb/blob/1afa2fa57f9756bb36be3c3463b5492087875ac4/pkg/smb/nodeserver.go#L183-L184

**What you expected to

[2020-06-24 06:54] andyzhangx commented on #37
there is also a similar mask function as this:
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/f81d61bb5419ccf65d4a360b5dad026792b31ee7/pkg/csi-common/utils.go#L105-L120

need to wrap a common function to make it more common

@animeshk08

[2020-06-24 07:42] Sakuralbj commented on #36
/aasign

[2020-06-24 08:13] andyzhangx opened #38 "second mount on same smb server address would fail on Windows"
**What happened**:
Create two PVs referencing same smb server address, and mount those two PVs on the same node, the second mount would fail like following:
[code]

Windows server don't allow two `New-SmbGlobalMapping` mount with same remote-path:
https://github.com/kubernetes-csi/csi-driver-smb/blob/master/pkg/smb/smb_common_windows.go#L34

**What you expected to happen**:
Second mount should suc

[2020-06-24 19:32] putz612 commented on #30
Yep, that works.  I missed that part when setting up.  Got too excited to have it working!

[2020-06-24 19:32] #30 closed

[2020-06-25 11:54] gabriel-stan opened #39 "Domain is not properly parametrized"
**What happened:**
Mount options are not correctly set up when **domain** is added in the secrets, causing a mount error and the container fails to start. Also, credentials are exposed in the Kubernetes event log.

**What you expected to happen:**
Volume mounting and container starting.

**How to reproduce it:**
add **domain** to the secrets according to https://github.com/kubernetes-csi/csi-drive

[2020-06-28 03:52] #29 closed

[2020-06-28 06:28] #39 closed

[2020-06-29 01:16] andyzhangx commented on #39
this issue is fixed by https://github.com/kubernetes-csi/csi-driver-smb/pull/41
and password logging issue is fixed by https://github.com/kubernetes-csi/csi-driver-smb/pull/40

[2020-06-29 05:22] andyzhangx commented on #36
Here is the draft one,  basic mount succeeds, while it still has `Permission denied` issue, also need to store username, password in k8s secret, could refer to https://github.com/andyzhangx/demo/tree/master/examples/postgresql

Could you refine it? @Sakuralbj thanks.

[code]

[2020-06-29 06:18] Sakuralbj commented on #36
I'll do it.

[2020-06-29 12:55] andyzhangx commented on #13
already fixed

[2020-06-29 12:55] #13 closed

[2020-06-29 12:56] andyzhangx commented on #11
already fixed

[2020-06-29 12:56] #11 closed

[2020-06-29 13:05] #6 closed

[2020-06-30 09:56] #36 closed

[2020-06-30 12:04] andyzhangx commented on #12
@animeshk08 could you also improve ut coverage of this project? thanks.

[2020-06-30 14:20] gabriel-stan commented on #39
thanks for the quick reaction! will use with the next release :1st_place_medal:

[2020-07-01 18:51] Zetanova opened #49 "Force close on open smb-fileLock-handles and sessions"
**Is your feature request related to a problem? Please describe.**
long period of locked file-handles and folders over a SMB share,
making a normal relocation of an k8s-pod painfull.

**Describe the solution you'd like in detail**
Forcefully close the last SMB connections to unlock the file-handles on the SMB-Server

**Additional context**
I used the flex-smb-driver and the main issue was not that

[2020-07-02 13:02] andyzhangx commented on #49
@Zetanova sorry, I am not sure about the requirement, `Get-SmbOpenFile` is a powershell cmdlet, are you using this driver on Windows? And we have unmount on `NodeStageVolume`, do you mean we should add a flag to force close smb mount? what's the identical command on Linux?
https://github.com/kubernetes-csi/csi-driver-smb/blob/1a825f4aa4b1ab3a6b03db9800c59a2f05b1660e/pkg/smb/nodeserver.go#L217-L230

[2020-07-02 13:27] andyzhangx opened #52 "Use servercontainers/samba image"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Currently we are using `dperson/samba` image in SMB server set up example, it's better switch to use `servercontainers/samba` image: https://hub.docker.com/r/servercontainers/samba

https://github.com/kubernetes-csi/csi-driver-smb/blob/1a825f4aa4b1ab3a6b03db9800c59a2f05b1660e/deplo

[2020-07-03 18:03] Zetanova commented on #49
ks can kill the pod on OOM or Reschedule
and after the file-share 'cifs' connection will still be open for the server.
A regular `umount /mnt/volumes/mymountpath` does not release the file-locks
and the server will do it after an timeout of ~30min or so.

[2020-07-04 01:09] andyzhangx commented on #49
@Zetanova `Close-SmbOpenFile` is a server side operation, while this driver does not have a controller, it only operates on client side. Also not sure what's the identical command of `Get-SmbOpenFile && Close-SmbOpenFile or Get-SmbSession && Close-SmbSession` on Linux.

[2020-07-04 09:57] Zetanova commented on #49
@andyzhangx I mentioned only the `Close-SmbOpenFile` pwsh-commands to underline
that i only could resolve the issue server side.

The stale file-lock handles are not even then main issue
The main issue is that the StageVolume succeed, but some files or folders could still be locked
and can lead to very bad behavior of the Pod.
It would be better that StageVolume would fail, when Stale-FileLocks ar

[2020-07-08 14:42] andyzhangx opened #54 "Move integration test in travis to test-infra"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

set up a few CI tests in test-infra, e.g.
 - pull-smb-csi-driver-unit
 - pull-smb-csi-driver-verify
 - pull-smb-csi-driver-windows-build
 - pull-smb-csi-driver-integration
 - pull-smb-csi-driver-sanity

could put into
https://github.com/kubernetes/test-infra/tree/master/config/jobs

[2020-07-09 04:44] animeshk08 commented on #12
Test coverage is now 89%

![csi-smb-coverage](https://user-images.githubusercontent.com/32506591/86997889-cf157300-c1cc-11ea-967a-fbbef0eae929.png)

[2020-07-09 05:15] andyzhangx commented on #52
cc @animeshk08

[2020-07-10 01:26] andyzhangx opened #56 "use new test-infra config"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes/test-infra/pull/18223#discussion_r452354732

We actually have a script that generates pull and CI jobs for all the kubernetes-csi repos.

It involves ".prow.sh" with "UNIT", which already does build, verify, and unit tests. Do you want to use that inst

[2020-07-10 11:20] andyzhangx opened #60 "provide storage class support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

We could provide storage class support even it's static provisioning, and then this driver would pass storage parameters to `NodeStageVolume`

refer to https://kubernetes-csi.github.io/docs/secrets-and-credentials-storage-class.html
[code]

**Describe alternatives you've considered

[2020-07-10 11:50] andyzhangx commented on #54
Now only integration test is not moved to test-infra(disabled now) since integration test must run in a VM while all CI tests in test-infra run inside container, could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/test/integration/integration_test.go

[2020-07-11 02:25] #60 closed

[2020-07-11 03:10] animeshk08 commented on #52
Updates server set up using `servicecontainers/samba`:
[code]

Currently, the `username` is not being set from the K8s secret. It is directly read using the K8s deployment. If the `env` variable name is  `ACCOUNT_TEST` the username will be `test`. Similarly the `SAMBA_VOLUME_CONFIG_` is also username dependent, which is currently hardcoded and not being read from the secret.

[2020-07-11 14:23] andyzhangx opened #64 "failed to unmount due to "host is down""
**What happened**:
This issue happened on k8s v1.15.11, need to check whether latest k8s version has fixed this issue:

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`): 1.15.11
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- O

[2020-07-16 14:09] andyzhangx commented on #9
step 1. suppose you are already on a k8s cluster, run `make e2e-test` on this cluster, could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/test/e2e

@animeshk08 do you have time to take a look? thanks.

[2020-07-16 14:11] andyzhangx commented on #9
step 2. use test-infra to set up a k8s cluster(probably azure k8s cluster) and then build csi driver, install csi driver by helm chart installation. Let's work on step 1 first.

[2020-07-16 14:14] animeshk08 commented on #9
Sure. Thanks!

[2020-07-16 14:43] andyzhangx commented on #9
follow this guide to set up a samba server on k8s cluster, and we already supports dynamic provisioning: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md

[2020-07-17 04:41] #21 closed

[2020-07-17 05:12] andyzhangx commented on #9
@animeshk08 for step 2. if we could run CSI driver on minikube, that would be quite easier and stable to set up test pipeline, could you check whether we could run CSI driver on minikube: https://kubernetes.io/docs/setup/learning-environment/minikube/, thanks.

[2020-07-17 05:13] animeshk08 commented on #9
Sure! I will check. Thanks.

[2020-07-17 13:47] #12 closed

[2020-07-20 16:46] hetii opened #69 "attacher.MountDevice failed to create newCsiDriverClient: driver name smb.csi.k8s.io not found in the list of registered CSI drivers"
Hello I deploy v0.2.0 of this driver on kubernetes cluster provisioned by rancher2 on top of openstack.
As you can see below pods from csi are there:

	kube-system         csi-smb-controller-864498f867-bldgf                             3/3     Running             17         2d1h
	kube-system         csi-smb-controller-864498f867-bqc9v                             3/3     Running             17

[2020-07-21 01:00] andyzhangx commented on #69
can you also get the controller logs? thanks.

[2020-07-21 12:39] andyzhangx commented on #69
could you get the registrar logs, e.g.
[code]

the successful logs could be like following:
[code]

And is there sth different with your kubelet path:
https://github.com/kubernetes-csi/csi-driver-smb/blob/70f3d0f81856b46e330e3b0c65d0438acad4d8d0/deploy/csi-smb-node.yaml#L112-L122

[2020-07-29 15:52] anne-nelson opened #71 "Volume cannot be mounted"
**What happened**:
I've followed all of the instructions for both options 1 and 2 in the [e2e usage guide](https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md) and get an error saying that k8s failed to mount the volume due to `cifs filesystem not supported by the system`. Googling the error the only things I can come up with say I need to install cifs-utils on

[2020-07-30 17:52] andyzhangx commented on #71
@anne-nelson what's your node os? looks like you need to install `cifs-utils` first on every agent node, could refer to this script: https://github.com/Azure/kubernetes-volume-drivers/blob/master/flexvolume/blobfuse/binary/sysctl-install-blobfuse-1.1.1.yaml

[2020-07-30 18:05] anne-nelson commented on #71
@andyzhangx No I haven't, I hadn't realised anything besides what was mentioned in the usage guide would be required. I had assumed that all dependencies/required components would be installed in the [smb-provisioner](https://github.com/kubernetes-csi/csi-driver-smb/tree/master/deploy/example/smb-provisioner).

I've now gone with another solution so I'll close this if that's all that was stopping

[2020-07-30 18:05] #71 closed

[2020-07-31 07:12] andyzhangx commented on #71
@anne-nelson what's your solution now? still use cifs protocol?

[2020-07-31 08:16] anne-nelson commented on #71
@andyzhangx No we just ended up using a java smb client in our code.

[2020-08-10 15:05] andyzhangx commented on #38
should not an issue now

[2020-08-10 15:14] andyzhangx commented on #38
works well with 5 replicas running on 2 nodes:
[code]

[2020-08-11 07:41] andyzhangx opened #79 "file access issue with smb-provisioner on Windows"
**What happened**:
When mount multiple pods with smb-provisioner on Windows, there would be error like following:
[code]

could be related to `dperson/samba` setting, related issue: https://github.com/dperson/samba/issues/330

https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/smb-provisioner/smb-server.yaml

[code]

**What you expected to happen**:

**How to reproduce it*

[2020-08-12 02:43] andyzhangx opened #82 "fix unit test failures on Windows"
**What happened**:

following unit test could not pass on Windows, we should either fix those failures on Windows or disable those tests running on Windows
[code]
**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname

[2020-08-17 00:29] andyzhangx commented on #79
related to issue: https://lists.samba.org/archive/samba/2020-May/229548.html

[2020-08-18 08:02] andyzhangx commented on #79
I could confirm that the fix(https://github.com/andyzhangx/samba/commit/26c899de02df8fbfe34382a2ec4c2e6b95fb2721) could really fix the permission issue on Windows. Still looking forward https://github.com/dperson/samba to make a fix in master branch.

Here is my fixed image:  `andyzhangx/samba:win-fix`
My command to build docker image:
[code]

[2020-08-18 19:44] tallmanbrew commented on #69
Hello, I'm running into the same issues hetii was.
Here is the log you requested, it looks like the last two lines are not added.
`I0818 13:06:09.539485       1 main.go:110] Version: v1.2.0-0-g6ef000ae
I0818 13:06:09.539575       1 main.go:120] Attempting to open a gRPC connection with: "/csi/csi.sock"
I0818 13:06:09.539595       1 connection.go:151] Connecting to unix:///csi/csi.sock
W0818 13:06:

[2020-08-18 20:02] hetii commented on #69
Hi again. I set it up from scratch and my logs look like:

	I0818 19:07:13.368677       1 main.go:110] Version: v1.2.0-0-g6ef000ae
	I0818 19:07:13.368961       1 main.go:120] Attempting to open a gRPC connection with: "/csi/csi.sock"
	I0818 19:07:13.369072       1 connection.go:151] Connecting to unix:///csi/csi.sock
	W0818 19:07:23.369603       1 connection.go:170] Still connecting to unix:///csi

[2020-08-18 21:05] hetii commented on #69
It seams it works for me now.

The main root issue is similar to issues:
https://github.com/rancher/rancher/issues/14675
https://github.com/rancher/rancher/issues/13897

It looks like at least in my case the rancher kublet path is `/opt/rke/var/lib/kubelet/` not `/var/lib/kubelet/`.

After updating csi-smb-node.yaml and redeploying it I was able to mount my azure share.

[2020-08-19 00:31] andyzhangx commented on #69
@hetii thanks for the investigation, if use another `kubelet path` is reasonable requirement, I think we can add this parameter into helm chart installation at least

[2020-09-05 14:31] #82 closed

[2020-09-06 03:40] boddumanohar commented on #54
I think the tests listed above already in test-infra:

`pull-smb-csi-driver-unit` --> https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml#L26

`pull-smb-csi-driver-verify` --> https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml#L3

`pull-smb-csi-driver-windows

[2020-09-06 03:45] boddumanohar commented on #56
I think @Sakuralbj  has already done some initial work on this. And I can also seem those test run for every PR( https://prow.k8s.io/?repo=kubernetes-csi%2Fcsi-driver-smb)

Can you please describe the next milestones of this issue.

[2020-09-06 03:56] #9 closed

[2020-09-06 06:44] andyzhangx commented on #82
it works now:
[code]

[2020-09-07 01:24] andyzhangx opened #103 "reenable unit tests on Windows"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Need to enable following unit tests on Windows since NodeXXX funcs would still run on Windows, should fix the test cases

[code]

**Describe alternatives you've considered**

**Additional context**

[2020-09-07 01:45] andyzhangx commented on #103
cc @mayankshah1607

[2020-09-07 02:22] andyzhangx commented on #54
maybe we could move integration test to github workflow:
https://github.com/kubernetes-csi/csi-driver-smb/tree/master/test/integration

[2020-09-07 05:56] boddumanohar commented on #64
@andyzhangx  Can you please more instructions on how to reproduce the issue? Would like to see if I can fix this.

[2020-09-07 06:14] varac opened #108 "Attach pvc name to pv"
**Is your feature request related to a problem?/Why is this needed**

When you have muliple PVs, it becomes hard to find your data since the PV names are just random UIDs.

[code]

**Describe the solution you'd like in detail**

I'd like to have the PVC name (and namespace) attached in the PV name, similar to how [ranchers local-path-provisioner](https://github.com/rancher/local-path-provisioner/p

[2020-09-07 06:40] varac commented on #108
I just realized that [ranchers local-path-provisioner](https://github.com/rancher/local-path-provisioner/) doesn't add the PVC name and namespace to the PV name, but instead to the directory name it creates:

[code]

Which already helps a lot when you are investigating your PVs

[2020-09-07 07:08] andyzhangx commented on #108
I think that's by design, we don't control PV/PVC name in csi driver

[2020-09-07 07:21] varac commented on #108
I don't understand, isn't the PV name/directory created by the csi-driver-smb ?

[2020-09-07 07:30] andyzhangx commented on #108
there is `createSubDir: "true"` in storage class, that would create a new directory, I think that would help:

[code]

[2020-09-07 07:41] varac commented on #108
Right, I am already using `createSubDir: "true"` but it will create PVs like `pvc-7b4f8df8-72f5-4112-a05f-c5565488f21f` and I'd like to to create dirs like `pvc-7b4f8df8-72f5-4112-a05f-c5565488f21f_oas_alertmanager`

[2020-09-07 09:03] mayankshah1607 opened #109 "test: re-write unit test logic to assert on different error message depending on host machine"
**What happened**:
A lot of the unit tests in `pkg/smb` are failing on Windows due to incompatible file paths.

**What you expected to happen**:
These unit tests must be compatible across Linux and Windows.

**How to reproduce it**:
Run `go test ./pkg/smb/...` on Windows

**Anything else we need to know?**:

To fix it, we may first want to have a way to ensure file path compatibility across Window

[2020-09-07 10:31] #54 closed

[2020-09-07 14:12] andyzhangx commented on #108
the createSubDir happens here, I don't think there is a way to get pod name info in `NodePublishVolume` func:

https://github.com/kubernetes-csi/csi-driver-smb/blob/99b7bbe09cacc91bf2fa5ee2614c2ed11a392cf3/pkg/smb/nodeserver.go#L93-L96

[2020-09-09 02:47] #69 closed

[2020-09-10 07:45] andyzhangx opened #114 "add e2e test against csi-proxy master branch"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Current windows e2e test is against stable csi-proxy version, should add e2e test against csi-proxy master branch, difficulty is how to generate a new `csi-proxy.tar.gz` based on csi-proxy master branch: https://github.com/kubernetes-csi/csi-proxy

https://github.com/kubernetes-csi

[2020-09-16 14:11] mrhovunping opened #116 "smdshare is empty after creation on K8S"
Hi,

I have tried to load a smbshare from local disk on kubernetes. I have followed the example and created the following script :

# Install driver

[code]

# Create secret
`kubectl create secret generic smbcreds --from-literal username="172.16.1.20\publishingstudio" --from-literal password="********" --type="microsoft.com/smb" -n beta`

user is on a specific domains called 172.16.1.20

#  Create

[2020-09-16 14:20] andyzhangx commented on #116
your hostPath config is wrong, it should be only a local path:
[code]

check this example: https://github.com/kubernetes-csi/csi-driver-smb/blob/ca5f7e2fc6ae8cc49e9c47d3311eab0d8486d22e/deploy/example/smb-provisioner/smb-server.yaml#L56-L59

[2020-09-16 15:08] mrhovunping commented on #116
Thanks for your answer,
Is it possible to mount smb in a pod from a remote location that sits
outside kubernetes?
This location can be accessed by the pod.

Le mer. 16 sept. 2020 à 16:21, Andy Zhang <notifications@github.com> a
écrit :

--
Cordialement,

Sébastien Ho

[2020-09-16 15:57] andyzhangx commented on #116
yes, this driver is for mount a remote SMB server address. Then you don't need to create a samba server inside your cluster.

[2020-09-16 19:06] mrhovunping commented on #116
Could you give me an example on how to mount a remote smb server with the driver? I am a bit lost...

[2020-09-17 00:51] andyzhangx commented on #116
just follow up guide here: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md

[2020-09-17 09:20] SebastienHo commented on #116
# Install driver

[code]
### Option#1: Storage Class Usage
 - Access by Linux node
#### 1. Create a storage class

[code]

 - Create storage class
[code]
#### 2. Create a statefulset with SMB volume mount

[code]
 - Create a statefulset with SMB volume mount
[code]

On kubernetes :

![image](https://user-images.githubusercontent.com/3601250/93451575-a51cb300-f8d7-11ea-8001-fb12adfc5405.png)

I hav

[2020-09-17 09:27] andyzhangx commented on #116
I think the driver pod could not recognize the ip address `172.16.1.43`

[2020-09-17 09:46] SebastienHo commented on #116
If I take another pod from same namespace, I can ping the server :

[cid:image001.png@01D68CE8.30F3BE70]
It look like the server can be accessed.

De : Andy Zhang <notifications@github.com>
Envoyé : jeudi 17 septembre 2020 11:28
À : kubernetes-csi/csi-driver-smb <csi-driver-smb@noreply.github.com>
Cc : Sébastien Ho <sebastien.ho@traceparts.com>; Comment <comment@noreply.github.com>
Objet : Re: [ku

[2020-09-17 09:53] andyzhangx commented on #116
why your domain is `172.16.1.43` ? just remove domain field in your secret setting, also you could try on a linux node first by `mount -t cifs ...`

[2020-09-17 14:20] mrhovunping commented on #116
I found finally the problem. There are two problems.

- An user with domain attached to not work.
- Our requests were block our firewall. SMB / SMB2 was blocked to data.

Le jeu. 17 sept. 2020 à 11:53, Andy Zhang <notifications@github.com> a
écrit :

--
Cordialement,

Sébastien Ho

[2020-09-17 14:26] andyzhangx commented on #116
thanks for the confirm

[2020-09-17 14:26] #116 closed

[2020-09-23 10:29] andyzhangx opened #118 "use golangci-lint-action"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/golangci/golangci-lint-action
should set up golangci-lint-action first and then if it's stable enough, retire original `hack/verify-golint.sh`

cc @mayankshah1607

**Describe alternatives you've considered**

**Additional context**

[2020-09-23 10:33] boddumanohar commented on #118
I would like to take this task up.

[2020-09-23 11:16] boddumanohar commented on #118
I am sorry, Mayank has been 'cced. I didn't see that.

[2020-09-23 11:32] mayankshah1607 commented on #118
/assign

[2020-09-23 11:32] mayankshah1607 commented on #118
No problem, @boddumanohar ! :)

[2020-09-23 12:14] #118 closed

[2020-09-23 12:14] andyzhangx opened #120 "dynamic provisioning fully support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

PR(https://github.com/kubernetes-csi/csi-driver-smb/pull/61) added storage class support, while it's just an empty implementation, need to add fully dynamic provisioning support:
  - CreateVolume
    - Should create a new directory under smb server
  - DeleteVolume
    - Should del

[2020-09-23 13:06] andyzhangx opened #121 "fake CSIProxyMounter to enable unit test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Need to fake `CSIProxyMounter`, same as [fakeMounter](https://github.com/kubernetes-csi/csi-driver-smb/blob/65f63946ba5998d4160c8668ec413c2cccc77ecc/pkg/smb/fake_mounter.go#L26-L28), and enable a few unit tests on Windows, current unit tests failed with `return fmt.Errorf("could no

[2020-09-24 06:09] boddumanohar commented on #121
/assign

[2020-09-25 13:16] boddumanohar commented on #121
Created a PR that runs CSI-Proxy as a background job. I also tried to run with NSSM but I am getting this error:

[code]
I believe that windows runners in Github actions has some issues when running a process with `Services.msc`.

[2020-09-30 12:40] mayankshah1607 commented on #103
I think we can close this one via https://github.com/kubernetes-csi/csi-driver-smb/pull/123

[2020-09-30 12:41] #103 closed

[2020-09-30 19:18] kel-web opened #125 "Error creating PVC - Permission denied"
**What happened**:
I get a **permission denied** error when the plugin tries to create the PV.

**What you expected to happen**:
The PV been created as expected.

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: **v0.3.0**
- Kubernetes version (use `kubectl version`): **v1.17.1+6af3663**
- OS (e.g. from /etc/os-release): **"Red Hat Enterprise Li

[2020-10-01 02:12] andyzhangx commented on #125
could you try run `mount -t cifs -o dir_mode=0777,file_mode=0777,uid=0,gid=0 //hSERVER/PATH /tmppath` on the node? could be account issue?

[2020-10-01 07:27] kel-web commented on #125
Thank you for your support.

I have tested the mount command and it does work.

The problem is that the folder :
/var/lib/kubelet/plugins/kubernetes.io/csi/pv/**pvc-ded15e21-d93a-4a55-b575-9faca51c3db2/globalmount** is not created.

[code]
It should be created by the plugin normally ?

[2020-10-01 09:55] mayankshah1607 commented on #109
Closed via https://github.com/kubernetes-csi/csi-driver-smb/pull/123

[2020-10-01 09:55] #109 closed

[2020-10-01 13:19] andyzhangx commented on #125
that's due to `Permission denied` error, to narrow down this issue, could you use smb server set up from here: https://github.com/kubernetes-csi/csi-driver-smb/tree/master/deploy/example/smb-provisioner

[2020-10-03 06:29] boddumanohar commented on #121
I believe this is fixed by #122

[2020-10-03 08:02] boddumanohar commented on #23
@andyzhangx I just tried to create a samba server without authentication and ran e2e tests on it and it worked just fine.
[code]
Can you please describe the scope of this issue? Happy to work if anything else is pending.

Thanks,
Manohar.

[2020-10-03 08:08] boddumanohar commented on #49
@andyzhangx @Zetanova I am see these logs in `csi-provisioner` container of `csi-smb-controller` pod.

[code]

Do we know why we see these logs? is the above issue related to these logs?

[2020-10-03 14:20] Zetanova commented on #49
@Zetanova If the smb client terminates uncontrolled, the smb server will hold the session open and all its file-locks  till the timeout.
The standard timeout is very high (view minutes)

[2020-10-04 11:58] Zetanova commented on #49
@andyzhangx One of the problems is that kubernetes restarts/kills the pods faster then the smb-timeout

 I know/found only two solution to fix the situation of a "smb file-lock spiral"
* Scale the deployment down to 0 and wait until the smb-timeout happend until u scale it up again (around 15minutes).
* Scale down the deployment to 0, connect to the SMB-server and force-close the still open smb-se

[2020-10-05 02:27] githubformichael opened #130 "Volume cannot be accessed when csi-smb-node-xxxxx pod on the same node as the node of the pod which is using PV is restarted."
**What happened**:
SMB CSI volume becomes UN-Accessible when csi-smb-node is restarted.

**What you expected to happen**:
SMB CSI volume  should still be accessible when csi-smb-node pods are restarted.

**How to reproduce it**:

1. Create a pod(smb-app-00001) which uses SMB CSI volume
2. get the node name(node-0001) on which the pod(smb-app-00001) is running
3. get the csi-smb-node's pod name(suc

[2020-10-05 03:11] boddumanohar commented on #130
related to #64 ?

[2020-10-05 07:52] andyzhangx commented on #130
@githubformichael could you try the fix in PR: https://github.com/kubernetes-csi/csi-driver-smb/pull/131? thanks.

[2020-10-05 07:58] githubformichael commented on #130
okay. thanks!

[2020-10-05 16:33] flaviopicci opened #132 "Cannot access to mounted volume from container (permssion denied) (selinux enabled)"
Hi everyone,
I'm trying to consume CIFS shares from an OpenShift (OKD) 4 cluster using this CSI driver.

**What happened**:
When I try to access a mounted CIFS folder from a container I get a permission denied error. Here is the ls output from a centos:8 container with the CIFS folder mounted under /mnt/smb:
[code]
However if I log into the physical machine, I can see the shared folder correctly m

[2020-10-06 02:38] #130 closed

[2020-10-06 05:07] andyzhangx commented on #130
I have release https://github.com/kubernetes-csi/csi-driver-smb/releases/tag/v0.4.0, pls try that version, thanks.

[2020-10-06 05:09] andyzhangx commented on #132
could you try run that container as root user:
[code]

[2020-10-06 08:50] kel-web commented on #125
I have deployed the smb server following the docs.

The server is up and running :

[code]
But in the logs there is _Permission denied_ errors :

[code]
Is there anything that I missed ?

[2020-10-06 08:56] andyzhangx commented on #125
try below config for the https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/smb-provisioner/smb-server.yaml
[code]

[2020-10-06 09:10] kel-web commented on #125
Still the same error with the securityContect :

[code]

[2020-10-06 09:27] andyzhangx commented on #125
try with
[code]

[2020-10-06 14:28] flaviopicci commented on #132
Thanks for the reply. What you suggested did not work, but I tried something similar that worked.
I had to run the container as privileged with a particular SCC, this way the read/write permission is granted. I think this is specific to OpenShift:
[code]
Anyway, even if this is accettable, it's not desired in production. Is there any way to set the "correct" SELinux label or something to avoid the

[2020-10-07 01:18] githubformichael commented on #130
@andyzhangx , Thank you for your hard work!
I have checked with v0.4.0 source codes and found that the issue has been fixed!
Thank you again!

[2020-10-07 02:14] andyzhangx commented on #132
could be related to this setting:
https://github.com/rook/rook/blob/3221c7ff454fe5b3c74dc9eba6cd1d97601ca715/cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml#L29-L33

[2020-10-07 02:20] andyzhangx commented on #132
would you try `kubectl apply -f https://raw.githubusercontent.com/kubernetes-csi/csi-driver-smb/f8696eaadae51a066f3f873103f1258a1bb731a0/charts/latest/csi-driver-smb/templates/csi-smb-node.yaml`? I am not sure whether this PR(https://github.com/kubernetes-csi/csi-driver-smb/pull/134) could fix the issue since I don't have the env.

[2020-10-07 17:22] flaviopicci commented on #132
Unfortunately this change hasn't solved the issue. The behaviour is the same.
My guess is that in my setup the default service account that runs pods in the kube-system already runs them as privileged, otherwise (in OpenShift) they should not even be able to work with hostPath(s) and hostNetwork.

I tried to add the context mountOption. It's in the mount options but it is somehow ignored/not appli

[2020-10-08 02:20] andyzhangx commented on #132
point is how Rook CSI driver supports selinux?

[2020-10-08 02:24] andyzhangx commented on #125
would you try below setting?
[code]
this PR(https://github.com/kubernetes-csi/csi-driver-smb/pull/134) may fix your issue.

[2020-10-08 13:25] #132 closed

[2020-10-08 14:06] andyzhangx commented on #132
thanks, so what are the steps to make this driver work on selinux enabled agent node?

[2020-10-14 10:42] mayankshah1607 opened #135 "CI: add the required artifacts to run `post-csi-driver-nfs-push-images`"
Currently we have a [prow job](https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/k8s-staging-sig-storage.yaml#L63) for pushing images to http://gcr.io/k8s-staging-sig-storage
We need to create a symlink `cloudbuild.yaml` and  `cloudbuild.sh` from release tools for this job to run successfully

Example - https://github.com/kubernetes-csi/csi-driver-host-path

/cc @andyz

[2020-10-16 08:52] flaviopicci commented on #132
No particular step is required, the defaults settings of this CSI driver work just fine.
You just have to ensure that:
* `virt_use_samba` SELinux boolean is `on` (on my OpenShift installation it was already on)
* the container is started with a command that selinux will label with the context `container_t`. Apparently the `/usr/sbin/init` command does not get labelled this way, but any other comma

[2020-10-20 22:43] mkoziel2000 opened #137 "domain setting issue on Windows"
**What happened**:
When using the CSI SMB driver in combination with csi-proxy.exe on windows nodes running windows containers, I noticed that if I create a kubernetes secret that included a "domain" key, whatever value I placed into that key was getting overriden with the word "AZURE".  I don't know difinitively whether it was in the csi-proxy or the CSI SMB driver.  Either way, this behavior bre

[2020-10-21 11:44] andyzhangx commented on #137
could you set the domain name into username field, e.g. `domain\username`, the default domain name is `AZURE`

https://github.com/kubernetes-csi/csi-driver-smb/blob/e9c2dd3a6ad5d62670177a16cad9b37f4bdabf98/pkg/smb/nodeserver.go#L179-L181

[2020-10-21 15:45] mkoziel2000 commented on #137
That all works and is the workaround I'm using today.  I think at the very least, the documentation should reflect this caveat for windows OSs to not use the domain field for the domain...its hard enough getting windows nodes to act properly in a kubernetes cluster, this logic folklore just adds to the difficulty.

[2020-10-29 18:57] kferrone opened #138 "Support For ARM?"
**Is your feature request related to a problem?/Why is this needed**
Can't install this on ARM nodes. The image repo does not seem to have anything ARM architecture related.

**Describe the solution you'd like in detail**
Compile for ARM. Push ARM image to public registry.

**Describe alternatives you've considered**
Compiling and building myself . . . probably not gonna work for me.

**Additional

[2020-10-30 01:10] andyzhangx commented on #138
@mayankshah1607 can you work on this? could refer to https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/527, thanks.

[2020-10-30 07:49] mayankshah1607 commented on #138
/assign

[2020-10-31 20:09] #16 closed

[2020-11-10 11:04] #138 closed

[2020-11-11 02:44] kferrone opened #145 "Update Usage of CSI Provisioner in csi-smb-controller"
**What happened**:
I tried to run the chart on nodes with `arm64` and the CSI Provisioner image must be `v2.0.4` to support multiarch. The current version in the chart is defaulted to `v1.4.0` which does not have a multiarch build and therefore will not run on `arm64`.

If I use the default repository of: `mcr.microsoft.com/oss/kubernetes-csi/csi-provisioner:v2.0.4`; then I can't even pull the ima

[2020-11-11 03:24] andyzhangx commented on #145
/assign @mayankshah1607
@mayankshah1607 can you fix this issue by using `k8s.gcr.io` images and also fixed the `enable-leader-election` issue? thanks

[2020-11-11 03:28] andyzhangx commented on #145
for the `enable-leader-election` issue, could refer to:

https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/d6b14923b3bcc7bc9df0171f59c74c3eaa67be37/deploy/csi-azurefile-controller.yaml#L33

[2020-11-11 11:27] #145 closed

[2020-11-11 19:53] jayunit100 opened #148 "Possible missing public images for "gke.gcr.io/csi-node-driver-registrar:win-v1""
**What happened**:

Im trying to run 0.4 with the csi-proxy YAMLs, but running into some issues.

Seems like getting up and running w/ csi-proxy doesnt work for me.  Could be a n00b error.  But i thought it was odd that it was trying to dial `unix C://` on a windows node.

**without CSI proxy running**
[code]
This eventually turns into:
[code]

Which i suppose is related to the fact that my csi pr

[2020-11-11 20:11] jayunit100 commented on #148
After installing the csi-proxy, i got a different error:

[code]

Which seems to imply maybe, since im not in Azure, this wont work ?

[2020-11-11 20:29] jayunit100 commented on #148
so, if i look at the csi-smb-node logs, i see

[code]

[2020-11-11 20:32] jayunit100 commented on #148
So, it looks like my daemonset wasnt runningbc i never created the required service account .

After creating `csi-node-sa`, i think saw:

[code]

Which maybe is implying that we dont have the images up to date ?

[2020-11-11 21:24] jayunit100 commented on #148
actually this seems like maybe its a csi-smb issue, since my csi-driver-smb seems to be healthy

[2020-11-11 21:24] #148 closed

[2020-11-11 21:31] jayunit100 opened #150 "Node for windows crashes , nil pointer reference"
**What happened**:

I have an otherwise healthy windows node, but csi-driver-smb node continues to crash because of something related to safe_mounter_windows.go....   On windows, the csi-smb-node-win pod doesnt stay up for more then a few seconds....

[code]

**What you expected to happen**:

windows node would not panic, and would print out an actionable error message if it needed to exit

**How

[2020-11-11 23:59] kferrone opened #151 "[ARM64]Can't Mount SMB Volumes, Exec format error"
I am finally able to run the entire project on a k3s RaspberryPi cluster. But now that I have created a StorageClass and a PVC using it, I get the following error when a Pod tries to mount it:
[code]

The storage class, PVC, and PV all got created without any issue and the PV and PVC both say bound.

The error above seems to be coming from the smb-csi image in the `smb` container.

Am I missing so

[2020-11-12 01:56] kferrone commented on #151
I was able to use the manual `mount -t cifs ...` command that the smb container is using and it worked on the host os.

[2020-11-14 02:51] andyzhangx commented on #150
thanks, already fixed by https://github.com/kubernetes-csi/csi-driver-smb/pull/152 on master branch, will publish a release later.

[2020-11-14 02:51] #150 closed

[2020-11-14 09:28] andyzhangx commented on #151
it's on ARM64 arch, right? Here is the Dockerfile:

https://github.com/kubernetes-csi/csi-driver-smb/blob/4f01661f9aac5211567699d667fb8ee6928cc6b1/pkg/smbplugin/Dockerfile#L21-L23

What's your agent node os type? I think we may change base image to have a try.

[2020-11-15 02:42] kferrone commented on #151
Yes it is ARM64 architecture. The base OS is Ubuntu 20.04.

I found here the same builder-image but for Arm64. https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/debian-base-arm64?gcrImageListsize=30

[2020-11-16 02:31] andyzhangx commented on #151
PR(https://github.com/kubernetes-csi/csi-driver-smb/pull/154) should fix the issue:
could you try:
[code]

[2020-11-16 10:20] joschi36 opened #155 "Suggest on shipping a custom PodSecurityPolicy for csi-smb-node"
**Is your feature request related to a problem?/Why is this needed**
When using a default restrictive PodSecurityPolicy in the cluster you need to have a custom PodSecurityPolicy in order to run the csi-smb-node DaemonSet.

**Describe the solution you'd like in detail**
An additional manifest containing a PodSecurityPolicy for csi-smb-node.

**Describe alternatives you've considered**
Creating an

[2020-11-16 15:35] kferrone commented on #151
Oh my yes that did work! You just made my week on a Monday 🤩
I can officially say the smb-csi driver works on ARM.
Thanks a ton and have a good day sir!
Keep up the great work

[2020-11-17 03:27] #151 closed

[2020-11-17 03:31] andyzhangx opened #156 "combine amd64.Dockerfile and arm64.Dockerfile"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

combine https://github.com/kubernetes-csi/csi-driver-smb/blob/master/pkg/smbplugin/amd64.Dockerfile and https://github.com/kubernetes-csi/csi-driver-smb/blob/master/pkg/smbplugin/arm64.Dockerfile as one Dockerfile, the only difference is base image.

/assign @mayankshah1607

**Desc

[2020-11-17 09:22] junneyang opened #160 "samba server not support domain name"
when i use
`source: \\sfs-nas1.cn-south-1c.xxx.com\share-2d58d4ca   `
is does not work, but when i use
`source: \\10.12.13.5\share-2d58d4ca `
it works

thanks for your help!

[2020-11-17 09:25] andyzhangx commented on #160
could you provide more detailed info? e.g. linux or windows, k8s version, it looks like domain name could not be resolved in your env.

[2020-11-17 09:28] junneyang commented on #160
windows: 2019
k8s: v1.17.2

when i run command in the pod:
`net use X: \\sfs-nas1.cn-south-1c.xxx.com\share-2d58d4ca`
it could be mount success

[2020-11-17 09:34] junneyang commented on #160
![image](https://user-images.githubusercontent.com/6802322/99372439-20600c80-28fb-11eb-8f52-26115c31ed93.png)

[2020-11-17 09:39] andyzhangx commented on #160
that could be a limitation of windows csi-proxy since that component could not resolve domain name, will follow up with that later, use public ip always work now.

[2020-11-17 09:44] junneyang commented on #160
very thanks for your help
would it be supported in the future?

[2020-11-18 05:13] junneyang opened #161 "[Windows]A specified logon session does not exist. It may already have been terminated"
mount error: A specified logon session does not exist. It may already have been terminated

windows: 2019
k8s: v1.17.2

yaml config:
[code]

[2020-11-18 06:12] andyzhangx commented on #161
is it related to domain name issue?

[2020-11-18 07:38] #156 closed

[2020-11-18 08:48] junneyang commented on #161
@andyzhangx
sorry for this issue,
it is because my carelessness....

[2020-11-18 08:48] #161 closed

[2020-11-18 08:48] #160 closed

[2020-11-18 08:50] andyzhangx commented on #161
what do you mean? how is it resolved?

[2020-11-18 17:36] VasylSamoilov opened #162 "Mount failed on EKS with "permission denied" when username is in format "DOMAIN\USER""
I try to use csi smb client on AWS EKS v1.17. Worker nodes are linux, provisioned by AWS. I tried all possible options, tried to run daemonset in privileged mode, container in privileged mode and installing helm chart and manually, as PV and as storage class. Outcome is always the same: Mount error: permission denied.
If I launch container with ubuntu I can connect to share with smbclient, so conn

[2020-11-19 03:53] andyzhangx commented on #162
there is an smb server set up example here: https://github.com/kubernetes-csi/csi-driver-smb/tree/master/deploy/example/smb-provisioner, does that work?

Also could you run `# k exec -it csi-smb-node-4qhfz -n kube-system -c smb sh` to ssh to the driver container, and then try `mount -t cifs //smb-server/share /tmp/test -o vers=3.0,username=username,password=test,dir_mode=0777,file_mode=0777,cache=

[2020-11-19 09:54] VasylSamoilov commented on #162
$ kubectl exec -ti csi-smb-node-4fblr -n kube-system -c smb /bin/sh

Real server:

# mount -t cifs //server/SHARE /tmp/test -o vers=3.0,username="Domain\USER_name",password="Pass1234",dir_mode=0777,file_mode=0777,cache=strict,actimeo=30
Couldn't chdir to /tmp/test: No such file or directory
# mkdir /tmp/test
# mount -t cifs //server/SHARE /tmp/test -o vers=3.0,username="Domain\USER_name",password=

[2020-11-19 10:33] VasylSamoilov commented on #162
I do confirm that everything works fine when username don't include domain part.

[2020-11-23 15:36] ibotty opened #164 "When mount dies, it is not remounted"
**What happened**:

At one point in time the mount died (most likely due to an unrelated server issue). Every pod using the smb-pv could not be started with an error like the following.

[code]

Umounting any CIFS-Mount allowed new pods to be deployed.

**What you expected to happen**:
Detecting that the mount died and remounting without having to restart pods.

**How to reproduce it**:
I did not

[2020-11-24 09:45] andyzhangx commented on #164
Remount is going to be possible with changes Ronnie at Redhat is working on (for the new mount API support for cifs), but remount should not be needed in the case where a server goes down.

SMB3 has very cool features there, and many of them have been implemented in cifs.ko for a very long time.  Some specific features beyond support for SMB3 ‘persistsent handles’:

1)	In 5.0 kernel reconnect supp

[2020-11-24 13:51] ibotty commented on #164
Unfortunately I don't control the server and I don't know what happened.

I am running a 5.6.19-Kernel though, which ought to be new enough for these features.  The bug still happened, that for three straight days, no pods could be created on affected nodes.  Umounting all cifs-mounts by hand allowed the pods to run again.

[2020-11-24 14:29] andyzhangx commented on #164
cc @smfrench

[2020-11-25 14:29] andyzhangx commented on #162
I think domain is only supported on Windows

[2020-11-26 09:13] andyzhangx commented on #137
@mkoziel2000 finally I spent some time and figured out your point, here is the fixed PR: https://github.com/kubernetes-csi/csi-driver-smb/pull/168, currently we have two places to set domain:
 - `Domain\username`
 - domain field in secret
The above PR would fix the domain issue on Windows.

[2020-11-26 09:21] andyzhangx commented on #162
I got your point, if you want to set domain for Linux agent node, should be set by:
[code]

[2020-11-27 03:17] #137 closed

[2020-11-30 13:12] ibotty commented on #164
It happened again.  I get the following log lines (a lot of them):
[code]

I am pretty sure that it is induced by an unreliable server.  But the problem is, that csi-driver-smb does not recover.  This is on `5.6.19-300.fc32.x86_64`

[2020-11-30 15:51] smfrench commented on #164
In the past I have only seen that for the case where the userid or password
are misconfigured (password changed on server e.g.).

On Mon, Nov 30, 2020 at 7:12 AM Tobias Florek <notifications@github.com>
wrote:

--
Thanks,

Steve

[2020-11-30 16:05] ibotty commented on #164
Well, it mounted without any problems after a manual umount.

[2020-12-02 09:30] #23 closed

[2020-12-02 15:20] #121 closed

[2020-12-03 17:05] JesperBerggren opened #169 "Add Helm Chart"
**Is your feature request related to a problem?/Why is this needed**
The current installation and upgrade process is a bit too manual in my humble opinion. An installation script is not really the right approach to solving installation and maintenance of the driver in production environment.
A package manager solves that problem.

**Describe the solution you'd like in detail**
A Helm Chart, please

[2020-12-04 03:03] andyzhangx commented on #169
helm chart is already supported: https://github.com/kubernetes-csi/csi-driver-smb/tree/master/charts

[2020-12-04 10:14] JesperBerggren commented on #169
Oh, you're right.
Can I instead suggest that you add Helm under the installation methods described under "Install SMB CSI driver on a kubernetes cluster" on your main page: [https://github.com/kubernetes-csi/csi-driver-smb](https://github.com/kubernetes-csi/csi-driver-smb)

[2020-12-07 14:01] JesperBerggren opened #171 "Location of kubelet fails to change from default location when overriding it from helm values"
**What happened**:
I'm running a Microk8s cluster, which means that the location of kubelet is not under /var/lib/kubelet but rather under /var/snap/microk8s/common/var/lib/kubelet

Previously I've installed the csi-driver-smb driver via a series of kubectl apply -f ... commands, including this modification:
[code]
This is to say the least not very pretty, but it does the job.

Now I'm moving the

[2020-12-07 14:11] andyzhangx commented on #171
by looking at the chart deployment yaml files, I  think it should work:
[code]

Could you describe your node pod by following, it will show you the volume mounts:
[code]

[2020-12-07 14:15] andyzhangx commented on #171
or try like following:

[code]

[2020-12-07 19:27] JesperBerggren commented on #171
The volume mounts are as described here after installing with "_-f csi-driver-smb-values.yaml_" :
[code]

[2020-12-07 19:36] JesperBerggren commented on #171
And it's exactly the same when trying with:
[code]

Looking at the error log:
[code]
and combining it with the containers description it looks like a problem in either **_node-driver-registrar_** or **_smb_**

[2020-12-08 04:46] #52 closed

[2020-12-08 09:53] JesperBerggren commented on #171
Hi again,

Taking a deeper look I've found that following lines:
[code]
should be changed to:
[code]

What do you think?

[2020-12-08 10:01] andyzhangx commented on #171
yes, just propose a PR, thanks.

[2020-12-08 11:14] ensonic opened #172 "can "priviledged: true" on the smb container of the csi-smb-node ds be replaced with a set of required capabilities?"
**Is your feature request related to a problem?/Why is this needed**
https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/v0.5.0/csi-smb-node.yaml#L99-L100
uses
[code]
This is very broad and a concern for production use.

**Describe the solution you'd like in detail**
It would be great to change the securityContext to:
[code]
The [docker documentation](https://docs.docker.com/engine

[2020-12-08 14:03] andyzhangx commented on #171
I think I need to add a volume mount here, will propose a PR.

[2020-12-08 14:09] andyzhangx commented on #172
@dr0pdb could you help? thanks.

[2020-12-08 14:12] dr0pdb commented on #172
/assign

[2020-12-08 14:40] JesperBerggren commented on #171
Ok, I'll leave it to you then.
And thanks. Let me know if you have a version I should test.

[2020-12-09 13:16] #171 closed

[2020-12-09 13:17] andyzhangx commented on #171
PR already merge in the master branch

[2020-12-09 14:17] andyzhangx commented on #169
fixed by https://github.com/kubernetes-csi/csi-driver-smb/commit/1a5c9ad3019b064272be20ed86a8471a368dc323, thanks.

[2020-12-09 14:17] #169 closed

[2020-12-10 14:16] andyzhangx commented on #172
`Bidirectional mount propagation is available only to privileged containers`
looks like we can only set like this since we are using Bidirectional mount propagation

[2020-12-10 14:19] ensonic commented on #172
@andyzhangx could you please reference the doc where you find this? Also the 2nd line seems to miss some word or so.

[2020-12-10 14:32] andyzhangx commented on #172
[code]

[2020-12-10 14:42] ensonic commented on #172
Ohh, this is sad. The [man pages](https://man7.org/linux/man-pages/man2/mount.2.html) for mount say that CAP_SYS_ADMIN should cover it. Thanks a lot for trying it. It think this bug can then be closed with a commit to add a comment to the yaml.

[2020-12-11 03:01] #172 closed

[2020-12-17 20:08] venomone opened #175 "Unable to mount SMB volume"
Hey,

If I try to mount a volume it always fails with the following error:

[code]
This is how my config looks like:

[code]

Can somebody give my a hint what Im doing wrong? I simply want to mount a remote CIFS/SMB share into my container

[2020-12-18 02:30] andyzhangx commented on #175
can you run `mount -t cifs -o dir_mode=0777,file_mode=0777,<masked> //abc.storagebox.com/Datastore01 /tmp/dir` on agent node to check whether smb mount works on your node? Also in your config, storage class is actually not needed.

[2020-12-18 02:31] andyzhangx commented on #175
per the error logs, it looks like `//abc.storagebox.com/Datastore01` does not exist

[2020-12-18 09:25] woloss opened #176 "could not mount SMB share in 1.20"
Due to my own mistake, I updated cluster to 1.20.0 version (luckily it's not production)

Now I can't mount SMB share and face such issue:
`Warning  FailedMount   106s (x11 over 7m57s)  kubelet          MountVolume.NewMounter initialization failed for volume "pvc-1231231" : kubernetes.io/csi: expected valid fsGroupPolicy, received nil value or empty string `

I tried to add those lines to DaemonSe

[2020-12-19 13:52] andyzhangx commented on #176
would you add `fsGroupPolicy: None` in `csi-smb-driver.yaml` in 1.20 cluster, and try again? thanks.
[code]

This change looks like a breaking change started from 1.20, we don't want to add `fsGroupPolicy: None` now since it would break in k8s version < 1.20, while from 1.20, we have to add `fsGroupPolicy: None`, I think this is incorrect, `fsGroupPolicy` should default to `None` in 1.20, that wou

[2020-12-19 17:29] woloss commented on #176
Sadly I already gone back to 1.19.4, because another CSI like Rook Ceph not working as well :(

I'm sure that tried "fsGroupPolicy: None" in csi-smb-driver.yaml, even fully deleted, and recreated driver deploy. Maybe I needed to fully clean CSI driver.

If I'll have spare time soon, I'll make 1.20.0 again and test again.

[2020-12-20 11:41] andyzhangx opened #177 "storage.k8s.io/v1beta1 CSIDriver is deprecated in v1.19+"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

[code]

**Describe alternatives you've considered**

**Additional context**

[2020-12-20 11:50] andyzhangx commented on #176
smb mount works on my k8s 1.20 cluster:

[code]

[2020-12-20 13:10] woloss commented on #176
Interesting. Deployed 1.20.1 from scratch, smb mount works w/o issues. Same deploy.yaml, except the fact that didn't install drivers for Rook yet.

I guess either I had some weird update, or something related to Rook caused issues for other CSI drivers.

[2020-12-21 15:47] dr0pdb commented on #32
/assign

@andyzhangx There are two features: [CSI ephemeral volumes](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/596-csi-inline-volumes) and [generic ephemeral volumes](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1698-generic-ephemeral-volumes). Which one are we targeting?

[2020-12-21 20:27] jmarcedwards commented on #176
So, I'm running into the same issue, but it not directly related to "SMB" (I'm assuming Samba).

`Events:                                                                                                                                                                                 │
│   Type     Reason       Age                  From                           Message

[2020-12-21 20:29] jmarcedwards commented on #176
I'm just trying to verify my Rook-Ceph installation following the instructions with the mysql & wordpress examples that are in the repo at rook/cluster/examples/kubernetes.

[2020-12-22 01:42] andyzhangx commented on #32
@dr0pdb I mean `generic ephemeral volume`, it's still alpha(disabled by default) in 1.20, let's wait for beta first:
https://github.com/kubernetes/kubernetes/blob/d63dc87ae8b6d568785bd4c532fb16d99a6b7338/pkg/features/kube_features.go#L791

/hold

[2020-12-22 01:43] andyzhangx commented on #177
could you help work on this? @dr0pdb thanks

[2020-12-22 02:15] andyzhangx commented on #176
the error(`etes.io/csi: expected valid fsGroupPolicy, received nil value or empty string`) happened here:
https://github.com/kubernetes/kubernetes/blob/6d5cb36d36f34cb4f5735b6adcd5ea8ebb4440ba/pkg/volume/csi/csi_plugin.go#L910-L913

@huffmanca looks like this is a backward-compatibility issue, if `csiDriver.Spec.FSGroupPolicy` is not specified in k8s 1.20, what about `return storage.ReadWriteOnceW

[2020-12-22 08:00] dr0pdb commented on #177
/assign

[2020-12-22 08:01] dr0pdb commented on #32
sure.

/unassign

[2020-12-23 01:02] andyzhangx opened #179 "random failure in building ARM64 image in CI"
**What happened**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-smb/178/pull-csi-driver-smb-e2e/1341391186115432448

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `u

[2020-12-23 04:21] dr0pdb commented on #179
/assign

[2020-12-24 15:18] SomKen commented on #38
Pro tip: WHAT DID YOU DO!? You need to say what you fixed...

[2020-12-25 07:34] andyzhangx commented on #179
this issue is similar to https://github.com/docker/buildx/issues/464

[2020-12-25 08:57] andyzhangx commented on #179
fixed by https://github.com/kubernetes-csi/csi-driver-smb/pull/174

[2020-12-25 14:34] andyzhangx opened #182 "set up SMB server in sanity test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Node idempotent sanity test is disabled due to lack of smb server setting in sanity test.

could refer to https://github.com/kubernetes-csi/csi-driver-nfs/blob/f5b513f1be03fb9588584da06e3bcb07e213b5d7/test/sanity/run-test.sh#L37-L44

**Describe alternatives you've considered**

**A

[2020-12-27 13:02] andyzhangx opened #183 "implement node get stat"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to: https://github.com/kubernetes-sigs/blob-csi-driver/pull/293

**Describe alternatives you've considered**

**Additional context**

[2020-12-28 22:16] snandos opened #184 "SMB share not mounted correctly in helm installation when set a different kubeletPath"
Hi,

I'm struggling to make the CSI driver mount my smb share within containers.
I'm following the [usage tutorial with static PVC](https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md#option2-pvpvc-usage) and don't get any errors on the way.

The logs of the smb node contain the following:

[code]

in the smb node container i get the following which looks also

[2020-12-29 03:50] andyzhangx commented on #184
similar to issue: https://github.com/kubernetes-csi/csi-driver-smb/issues/171
could you provide your node daemonet pod description, e.g.
[code]

[2020-12-29 08:05] andyzhangx commented on #184
and also try with v0.6.0, check whether that version fixed your issue:
[code]

[2020-12-29 09:04] snandos commented on #184
Did you mean the "csi-smb-node-xxxx" node?
This is before v0.6.0:
[code]

Installed v0.6.0 with the linuxPath argument but didn't change something. Mount works within the smb csi node but the share is not accessible within the nginx test container nor the host filesystem (which i guess it should be, right?)

I'm new to the k8s ecosystem, maybe I'm missing some other basic dependency of some sort?

[2020-12-29 09:07] andyzhangx commented on #184
could you ssh to node `kubernetes.sus/10.100.0.30` and then check whether there is cifs mount on the node:
[code]

and then you could check the content in cifs mount

[2020-12-29 09:14] snandos commented on #184
[code]
no mount there

[2020-12-29 09:43] andyzhangx commented on #184
what is your `NodeStageVolume` func logs? have you installed `cifs-utils` on the node?

[2020-12-29 10:06] andyzhangx commented on #179
unfortunately this issue still happens now

[2020-12-29 10:09] snandos commented on #184
In the log of the smb node pod i can see the NodeStageVolume call (this is already with v0.6.0):
[code]

Interestingly there are error logs right before where it cant resolve my dns name of 10.100.0.20 (nas.sus). I guess it was spinning up:
[code]

you are referring to the k8s node (10.100.0.30 in my case), right?

cifs-utils is installed:
[code]

[2020-12-29 10:20] andyzhangx commented on #184
this project is never tested on Ubuntu 20.04, the e2e test is now running on 18.04, that could be the issue there, not quite sure.
[code]

[2020-12-29 10:33] andyzhangx commented on #184
could you try the statefulset example or use a different pv name other than `pv-smb` : https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/statefulset.yaml, I suspect `/var/snap/microk8s/common/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pv-smb/globalmount` is already mounted to your local file system.

[2020-12-29 11:30] andyzhangx commented on #184
one thing looks strange to me, why your NodeStageVolume logs are showing `/var/snap/microk8s/common/var/lib/kubelet` path since inside that driver smb container, it's only reference mounts:
[code]

Here is an example, it should always use `/var/lib/kubelet/` path to mount cifs remote path:
[code]

[2020-12-29 13:22] snandos commented on #184
Thank you, that pointed me in the right direction.

In the chart files i changed `csi-smb-node.yaml` to
[code]
where it still stated /var/lib/kubelet

I'm not sure if this is a missing part of the PR from #171 ?

With this change the outfile is now present on my share.

`kubectl describe pod csi-smb-node-XXXX -n kube-system`
now shows
[code]

the log of csi smb node still shows /var/snap/microk8s/

[2020-12-29 13:32] andyzhangx commented on #184
could you remove csi driver and install v0.6.0 again? `volumeMounts` should always be `/var/lib/kubelet/` inside smb container
[code]

another workaround is using following command:
[code]

[2020-12-30 16:43] snandos commented on #184
Installed a blank ubuntu 18.04 on virtualbox with microk8s 1.19 channel and added the driver with 0.6.0 again with the following parameter `-set kubelet.linuxPath=/var/snap/microk8s/common/var/lib/kubelet`

unfortunately the logs show the snap path again - which in my understanding should show /var/lib/kubelet right?:
[code]
and no `outfile` on my share.

So i ran your workaround command and voila

[2020-12-31 03:54] andyzhangx commented on #184
thanks, I think this PR could fixed the issue: https://github.com/kubernetes-csi/csi-driver-smb/pull/188

[2020-12-31 05:50] #184 closed

[2021-01-01 08:36] doug62 opened #191 "K3s - In a docker-compose (path "/var/lib/kubelet/" is mounted on "/var/lib/kubelet" but it is not a shared mount)"
After installing V6 via helm with default values.yml, On K3s running within a docker-compose  stack on a windows PC with Linux containers i receive the following:

CreateContainerError: failed to generate container "e0fedc59f3d3351eec4f6a3877102b93f3ba94ffe2412f18c79a21631187ea97" spec: failed to generate spec: path "/var/lib/kubelet/" is mounted on "/var/lib/kubelet" but it is not a shared mount

[2021-01-01 12:13] andyzhangx commented on #191
not sure about how to make it work in docker-compose stack, and about helm chart version issue, the latest helm does not support `latest` tag now, I suggest use specific version

[2021-01-01 13:15] #179 closed

[2021-01-05 01:52] doug62 opened #196 "helm repo add mylocal-csi-driver <what github url do i put here?>"
As a newbie user, I would like to be able add this github chart/source to my local installed charts so that I can install them locally without having to download them.

helm repo add mylocal-csi-driver <what github url do i put here?>

What is the URL? (thanks)

[2021-01-05 04:44] #183 closed

[2021-01-05 05:45] andyzhangx commented on #196
[code]

[2021-01-05 06:30] andyzhangx commented on #191
about error `path "/var/lib/kubelet/" is mounted on "/var/lib/kubelet" but it is not a shared mount`, follow this link to workaround: https://github.com/kubernetes-retired/kubernetes-anywhere/issues/88#issuecomment-292407728

[2021-01-05 06:50] gsxmax commented on #191
If you try the workaround,  but you are encountering the same error, please check "**findmnt -o TARGET,PROPAGATION /var/**", and "**findmnt -o TARGET,PROPAGATION /var/lib/kubelet/**". If the PROPAGATION is already shared, please follow this document and check your docker configuration.
https://kubernetes.io/docs/concepts/storage/volumes/#mount-propagation

[2021-01-05 08:42] andyzhangx commented on #182
could you help? @sachinkumarsingh092

[2021-01-06 03:02] doug62 commented on #191
@andyzhangx - Thanks for the link those directions do in fact work on linux machines, but not on windows.

[2021-01-06 03:38] andyzhangx commented on #191
I dot not suggest run this driver on docker-compose on Windows

[2021-01-08 07:39] blurpy commented on #120
Are you going to support the other part of dynamic provisioning - self service using a claim?

We are looking at this driver, but none of our users have access to cluster scoped resources like storage classes and persistent volumes. They do however have access to persistent volume claims.

Ideally users would make a PVC with similar parameters as shown in the PV-example and a PV would be created a

[2021-01-08 07:48] andyzhangx commented on #120
@blurpy if there is already smb storage class or smb PV, they can use this example: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md

[2021-01-08 08:33] blurpy commented on #120
That's the example I was talking about, but we don't really want to manually create a PV or storage class for them every time someone needs to mount a samba volume in a pod. It's a large network with hundreds of shares everywhere, so self service would be much preferred.

[2021-01-08 08:35] andyzhangx commented on #120
@blurpy if you only have one SMB server, admin could set up a smb storage class and user only needs to create a PVC, and when PVC is provisioned, this driver will create a standalone dir under smb server, is that what you want?

[2021-01-08 08:49] blurpy commented on #120
We don't look for a way of provisioning a "new" volume using SMB, we look for a way of mounting an existing shared network folder in a pod, so apps can be migrated from legacy infrastructure. The pod needs access to the same data.

There are many servers exposing SMB shares, and those of us who manage k8s don't want to be middlemen, and rather let users do this in their own namespace. Maybe this d

[2021-01-08 09:00] andyzhangx commented on #120
then why not create a common PVC and that PVC could be shared between multiple pods. Current scenario is:
 - admin create [smb storage class](https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/storageclass-smb.yaml) with SMB server config
 - User create a PVC based on storage class and pod could access SMB server, `createSubDir` parameter could decide whether create new fo

[2021-01-08 09:01] andyzhangx commented on #120
With smb storage class, user only needs to create PVC, the PV will be created automatically

[2021-01-08 09:10] blurpy commented on #120
From what I can understand from the documentation the storage class defines the share to connect to, so we would have to create a new storage class every time someone needs to mount a different share. Or can we configure a generic storage class and let the user specify url, username and password in the PVC somehow?

Note that we are not looking for a way to create a subdir on a share, we just want

[2021-01-08 09:17] andyzhangx commented on #120
PVC is quite a generic config in k8s, there is no self-defined parameter support in PVC

[2021-01-08 09:19] andyzhangx commented on #120
I think you are asking for this inline volume feature, it's not supported yet:
https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html#which-feature-should-my-driver-support

[code]

https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html#which-feature-should-my-driver-support

[2021-01-08 09:29] blurpy commented on #120
OK, thanks for the link. Guess we have to find a different way of accessing these shares for now.

[2021-01-08 10:16] andyzhangx opened #198 "implement Ephemeral Inline Volumes support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to
https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html#which-feature-should-my-driver-support

**Describe alternatives you've considered**

**Additional context**

[2021-01-08 10:18] andyzhangx commented on #120
@blurpy filed an issue here: https://github.com/kubernetes-csi/csi-driver-smb/issues/198, I could get someone work on this, the above example is for single pod, does it work in your scenario?

[2021-01-08 16:42] sachinkumarsingh092 commented on #182
/assign

[2021-01-12 12:15] dr0pdb opened #200 "Add restart driver e2e test"
**Describe the solution you'd like in detail**

1. mount a pod
2. restart the driver daemonset.
3. make sure the original pod could still access the volume.

**Describe alternatives you've considered**

/kind feature
/kind test

/assign

[2021-01-15 09:41] #79 closed

[2021-01-16 01:30] msau42 opened #203 "Update all dependencies to klog v2"
**What happened**:
There's an issue where if you have a mix of klog v1 and v2, logs from libraries using klog v1 will not be logged.

[2021-01-16 03:28] andyzhangx commented on #203
klog v1 is not used in this project, and I have removed klog v1 in go mod in this PR: https://github.com/kubernetes-csi/csi-driver-smb/pull/205

[2021-01-16 04:53] #203 closed

[2021-01-16 09:02] SomKen commented on #176
Thanks! This totally unblocked me from my CSI issues. Thanks!

[2021-01-17 15:27] harshika-kashyap opened #208 "Handle concurrent operation of NodeUnstage with NodeStage and NodeUnpublish with NodePublish"
**What happened**:
we don't correctly handle concurrent processing of NodeUnstage call if a previous NodeStage was in-progress and same thing applies to NodeUnpublish call too.

The specs says, if an operation is in-progress for the volume then SP should return error code "10 ABORTED" - https://github.com/container-storage-interface/spec/blob/master/spec.md#timeouts

/kind bug
/assign

[2021-01-18 01:51] #208 closed

[2021-01-18 11:31] #200 closed

[2021-01-20 07:45] twecker137 opened #211 "Mount failed on Windows nodes and causing blue screens"
**What happened**:

SMB mounts cannot be mounted on Windows systems. In addition, a blue screen occurs in 50% of the attempts.

**What you expected to happen**:

SMB mounts can be mounted from Windows systems.

**How to reproduce it**:

We use an on-premise Rancher Kubernetes cluster running Windows as well as Linux nodes. We have installed the Helm Chart csi-driver-smb-v0.6.0 in the kube-system n

[2021-01-20 16:38] jmarcedwards commented on #176
Did it work for you to disable the CSIVolumeFSGroupPolicy with the --feature-gates?  How do you set this on the kubelet with kubectl?

Thanks, Marc

[2021-01-20 17:09] SomKen commented on #176
I added `--feature-gates=CSIVolumeFSGroupPolicy=false` to the end `ExecStart=` of in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf

[2021-01-22 10:59] andyzhangx commented on #211
what version of csi-proxy are you using? We suggest installing v0.2.2:
https://github.com/kubernetes-csi/csi-driver-smb/blob/9b6052080db256effcd121e26e5acb6263e03f19/.github/workflows/windows.yaml#L27

And interesting thing is why there is blue screen after `New-SmbGlobalMapping` operation?

[2021-01-24 17:58] SomKen commented on #176
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

Looks like it was disabled by default in 1.19 but is enabled in 1.20.

[2021-01-25 09:51] twecker137 commented on #211
When analyzing the problem, we were able to identify two sources of error:
First, the SMB share could not be mounted because DFS was configured on the target SMB server and `New-SmbGlobalMapping`  simply does not support it.
Second, we rely on Rancher RKE for the Kubernetes cluster. In doing so, we have seen in the logs that the mounts on the Windows servers appear to be attempted via Unix sockets

[2021-01-25 09:51] #211 closed

[2021-01-26 02:07] slavonnet opened #214 "Add support for SMB Direct connect to Windows Cluster in IB or ROCE network (Mellanox)"
Subject

Latency over x1000 difference

[2021-01-26 02:10] andyzhangx commented on #214
do you have more details on this?

[2021-01-29 09:09] splitt3r commented on #196
@andyzhangx what about publishing to GitHub Pages and / or artifacthub.io? Sth. like https://artifacthub.io/packages/helm/mlohr/hcloud-csi-driver would be pretty awesome.

[2021-01-29 09:22] andyzhangx commented on #196
updated doc here: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/charts/README.md#install-a-specific-version-of-helm-chart

[2021-01-29 09:22] #196 closed

[2021-02-01 09:28] andyzhangx commented on #198
cc @rajibmitra

[2021-02-01 09:32] rajibmitra commented on #198
thank you @andyzhangx, looking at it.

[2021-02-01 11:35] willinwu opened #219 "The smb volume can't be mounted to the windows pod after reboot"
I have installed a k8s environment with two linux worker nodes and one windows worker node.

k8s version: 1.20

[code]

csi-smb-driver version: 0.6.0
kubectl get pod -n kube-system | grep csi
[code]

csi-proxy version: 0.22
[code]

sc.yaml:

[code]

deployment.yaml
[code]

I got the error message like this after reboot the windows node.

MountVolume.MountDevice failed for volume "pvc-1efb71f1-ab8a

[2021-02-01 12:19] andyzhangx commented on #219
could you provide the csi-proxy logs? thanks.

[2021-02-01 12:40] willinwu commented on #219
E0201 04:05:06.630924    9220 server.go:69] failed NewSmbGlobalMapping NewSmbGlobalMapping failed. output: "New-SmbGlobalMapping : Multiple connections to a server or shared resource by the same user, using more than one user \r\nname, are not allowed. Disconnect all previous connections to the server or shared resource and try again. \r\nAt line:1 char:190\r\n+ ... ser, $PWord;New-SmbGlobalMappin

[2021-02-01 14:53] andyzhangx commented on #219
here should be a log file, e.g. csi-proxy.log

[2021-02-01 15:00] Zetanova commented on #49
@andyzhangx   I would have an idea for a workaround to at least not get into an lock death spiral.

Just create a hidden-file or move the data into a subfolder and create a file in the root
This file can be locked be the node-controller.
If it fails then the NodeStageVolume request fails.

This would resolve the lock death spiral
The lock death spiral happens when a pod locks more then one file on

[2021-02-02 01:14] willinwu commented on #219
It seems there are no other information.

[code]

[2021-02-03 01:14] willinwu commented on #219
Seems work well after I changed the storageclass  source  "//docp-smb1/smbservice" to ip like "//10.*.*/smbservice".
Help by this link:    https://docs.microsoft.com/en-us/troubleshoot/windows-server/networking/cannot-connect-to-network-share

Not sure it's the root cause.

[2021-02-03 06:04] #56 closed

[2021-02-03 06:49] SachinL9 commented on #38
Can you please specify which version to upgrade to get this fix?

[2021-02-03 10:00] willinwu commented on #219
After reboot, reproduced.
Restore the snapshot or change the sc (the remote share path changed) will be useful. But not forever.
And I delete the smb driver and create again is no use.
The log is just like before.

Seems like something is cached on the windows worker node.
I just want to know if it can come back by run some command on the windows worker node.

[2021-02-03 12:02] andyzhangx opened #221 "add runOnMaster switch for helm chart"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to https://github.com/kubernetes-csi/csi-driver-nfs/pull/146

**Describe alternatives you've considered**

**Additional context**

[2021-02-03 12:02] andyzhangx commented on #221
cc @rajibmitra

[2021-02-03 17:51] drigz opened #222 "SubPath unmount fails with "directory not empty" after smb-server Service IP changes"
**What happened**:

After the smb-server Service IP changes, I am unable to delete pods that have mounted smb volumes. The pods get stuck in "Terminating", and the kubelet logs contain:

[code]

The "path does not exist" warning is wrong:

[code]

**What you expected to happen**:

Pods can be deleted and recreated.

**How to reproduce it**:

1. Create a volume based on smb-server.yaml.
2. Mount th

[2021-02-03 17:54] drigz commented on #222
I also have a question: if changing the service IP addresses breaks existing mounts, would it be better to [specify a clusterIP](https://stackoverflow.com/a/66013325/20330) in the smb-server Service?

[2021-02-03 19:15] drigz commented on #222
Note: if you try to create a new pod instead of deleting an old one, you get the `MountVolume.MountDevice failed for volume "workcell-spec" : stat /var/lib/kubelet/plugins/kubernetes.io/csi/pv/workcell-spec/globalmount: host is down` error described in #164. I have also seen that error in our live clusters, although I don't if it correlated with an IP change in those cases.

[2021-02-04 10:55] andyzhangx commented on #219
to workaround, run following commands on the agent node:
 - `Get-SmbGlobalMapping` to get the SMB mapping
 - `Remove-SmbGlobalMapping` to remove the existing mapping

[2021-02-05 12:58] #221 closed

[2021-02-06 08:17] #191 closed

[2021-02-07 09:42] #114 closed

[2021-02-08 21:39] Mohkam commented on #219
Would it be safe to remove Smb Global Mapping ? I am afraid this will cause data loss for to the pod already using this mount.

[2021-02-09 12:32] juliohm1978 opened #226 "Liveness probe memory leak"
**What happened**:

After upgrading to v0.6.0, we are seeing regular pod restarts, some of them being **_OOMKilled_**.

Looking at the pod metrics, we can see that the liveness probe in the node pod seems to be leaking memory over time.

![image](https://user-images.githubusercontent.com/4145456/107362729-e779a300-6ab7-11eb-8ca6-3e652cf6006c.png)

**Environment**:
- CSI Driver version: v0.6.0
- Ku

[2021-02-09 12:43] juliohm1978 commented on #226
Could this be related?

https://github.com/kubernetes-csi/livenessprobe/issues/102

[2021-02-09 12:56] juliohm1978 commented on #226
A memory leak appears to have been fixed in the liveness probe image 2.2.0.

https://github.com/kubernetes-csi/livenessprobe/pull/94

https://github.com/kubernetes-csi/livenessprobe/blob/master/CHANGELOG/CHANGELOG-2.2.md

[2021-02-09 14:41] andyzhangx commented on #226
the master branch is already using v2.2.0:
https://github.com/kubernetes-csi/csi-driver-smb/blob/2d3ef8a858e5e9c0aeae0257de237ad817a9f600/deploy/csi-smb-controller.yaml#L46-L47

[2021-02-09 15:19] juliohm1978 commented on #226
Just changed my values.yaml and redeployed. Will be back to confirm if this fixes it.

[2021-02-16 03:40] #226 closed

[2021-02-16 15:31] andyzhangx commented on #219
`Remove-SmbGlobalMapping` won't cause data loss since it just terminate SMB connection, data is stored on remote SMB server.

if agent node already has `\\20.xx.xx.56\share` connection, it does not allow `\\20.xx.xx.56\share\test` since it has `\\20.xx.xx.56\share`, I think it's by design, I could not work out a way to allow both following 2 file share mount works on one node:
 - `\\20.xx.xx.56\sh

[2021-02-17 04:23] andyzhangx commented on #219
Update:
It's more like a Windows bug, after reboot, mount a different smb share will report following error, will reach to windows team for help, stay tuned.
[code]

[2021-02-17 04:24] andyzhangx commented on #38
second mount on same smb server would not fail on Windows now with csi-proxy v0.2.2, while there is another issue due to windows reboot: https://github.com/kubernetes-csi/csi-driver-smb/issues/219#issuecomment-780287789, close this issue now.

[2021-02-17 04:24] #38 closed

[2021-02-19 09:28] andyzhangx commented on #219
Update:
Wieh help of windows team, I found that default `-Persistent` value is `true` by default in `New-SmbGlobalMapping` command, that’s the reason why New-SmbGlobalMapping does not work after reboot, details:
"
Once the persistent credentials are saved into credman, they are no longer visible to the RDR.  So after reboot, it will look like a connection without any explicit credentials even thou

[2021-02-19 10:00] joschi36 commented on #155
/remove-lifecycle stale
Maybe someone from the community can give some feedback

[2021-02-19 12:21] andyzhangx commented on #222
looks like it's related to #164, need upstream fix, will take a look later.

[2021-02-19 14:12] andyzhangx opened #229 "add subPath e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2021-02-20 14:17] andyzhangx commented on #219
added a doc PR here: https://github.com/kubernetes-csi/csi-driver-smb/pull/231, this issue won't be fixed in short term

[2021-02-23 02:37] andyzhangx commented on #64
- similar error msgs:
[code]

[2021-02-23 20:49] arvind-sarik opened #232 "OpenShift pods not getting updated with the updated mount path."
**What happened**:
  We have installed csi smb driver in openshift cluster in order to make use of windows cifs shares. PV/PVC have been created in OpenShift cluster with the cifs-csi-pv template. We are destroying pv/pvc in the openshift namespace and recreating pv/pvc .We have source property files from where the mount path in pv get updated. It worked properly for the first time but when we upd

[2021-02-23 22:09] mkoziel2000 opened #233 "Cannot find the file specified"
**What happened**:
Using the smb-csi:latest image, the kubelet on windows worker nodes throw a transport error stating that "\\\\.\\\\pipe\\\\csi-proxy-filesystem-v1beta1" cannot be found.  I've verified that csi-proxy.exe is running on the node and that the pipes are active.  When I switch to using smb-csi:v0.6.0, everything starts working again.

The specific error seen is:

E0223 13:46:51.25051

[2021-02-24 01:42] andyzhangx commented on #233
@mkoziel2000 lastest image depends on csi-proxy v0.2.2, you could use following way to download v0.2.2 binary:
https://github.com/kubernetes-csi/csi-driver-smb/blob/72b5499eaf276b83c96c4b1325980c308f48d5fd/.github/workflows/windows.yaml#L27-L29

I will update the driver doc later.

[2021-02-24 02:10] andyzhangx commented on #232
why would you need to update `source` value of pv?  is it possible to create another PV, and then delete PVC, bould new PVC to new PV?

[2021-02-24 05:07] mkoziel2000 commented on #233
adding a log message when it fails stating that it could be a missing or outdated version of csi-proxy might be a good addition to the code if there is going to be a version dependency between these two services.  I spend a good part of the day trying to figure this one out.  It was not trivial.  However, I do appreciate the response to validate the finding as being a problem.

Thanks.

[2021-02-24 09:27] faandg opened #234 "Mount fails with error no such file or directory"
**What happened**:
Received following error while mounting with csi driver version 0.6.0 and latest on OpenShift:
`MountVolume.MountDevice failed for volume "pv-new-smb-audit-self-service-uat" : rpc error: code = Internal desc = volume(vh-pv-new-smb-audit-self-service-uat) mount "//DOMAINX/Global/OCP-A" on "/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pv-new-smb-audit-self-service-uat/globalmount

[2021-02-24 11:12] andyzhangx commented on #234
does manual mount on agent node work? follow by: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#troubleshooting-connection-failure-on-agent-node

[2021-02-24 14:21] arvind-sarik commented on #232
Initially we have the other source for the pv and then we had to update the source as it is updated in the windows cifs share. So we updated the mount path as per the windows cifs share and tried to delete pv/pvc and recreated. We did not see the updated path in the target pod location even though the pv has been updated in the opensfhit namespace.
And we did try delete pv and created new pv/pvc a

[2021-02-24 14:28] andyzhangx commented on #232
could you provide detailed steps, and pv/pvc configs?

[2021-02-24 15:38] arvind-sarik commented on #232
We have a deployment script from where we call pv/pvc template and it creates the pv/pvc as per this template. This script also binds the pvc to the openshift pods. Please find attached pv/pvc template.
The deployment script deletes and creates pv/pvc with every new deployment and it calls the property files where we have environment specific properties(such as dev.props, qa.props etc..)
So when w

[2021-02-26 11:40] faandg commented on #234
Hi @andyzhangx,

After some troubleshooting on the agent nodes we found mounts are succeeding with vers=2.1 yet fail with vers=3.0.
It is still unclear why but it is being investigated by a different team.

Meanwhile we are trying to work with vers=2.1 but this shows some weird behavior.
On the node: the mount succeeds on the agent node and it is read/writable.
On OpenShift: the container spins up

[2021-02-26 12:22] andyzhangx commented on #234
OpenShift issue should be related to this: https://github.com/kubernetes-csi/csi-driver-smb/issues/132

[2021-02-26 12:23] andyzhangx commented on #234
We need a formal doc describing how to make this driver work in OpenShift

[2021-02-26 22:01] marciogmorales commented on #164
The command New-SmbGlobalMapping -RemotePath  must have in the "-RequirePrivacy $true" otherwise the SMB channel will be reset after 15min and you'll loose access.

New-SmbGlobalMapping -RemotePath '\\\\FQDN\\share\\Directory' -Credential $credential -LocalPath G: -RequirePrivacy $true -ErrorAction Stop

[2021-02-28 13:12] andyzhangx commented on #164
seems related to this issue: https://github.com/MicrosoftDocs/Virtualization-Documentation/issues/1353, I will fix it in csi-proxy first, thanks! @marciogmorales

[2021-02-28 13:13] andyzhangx commented on #164
BTW, original issue is on linux node, this is another issue on Windows, that's two different issues.

[2021-02-28 13:24] andyzhangx commented on #164
worked out a PR to fix in k/k first: https://github.com/kubernetes/kubernetes/pull/99550

[2021-02-28 14:27] ibotty commented on #164
Yes, I am having these issues (regularly!) on a linux node.

[2021-03-02 08:58] WangMosquito commented on #219
before start kubelet  Remove-SmbGlobalMapping -Force

[2021-03-07 04:35] #125 closed

[2021-03-07 12:04] andyzhangx commented on #233
added doc about supported csi-proxy versions: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/README.md#container-images--kubernetes-compatibility

[2021-03-07 12:04] #233 closed

[2021-03-09 21:55] arvind-sarik commented on #232
Could you please let me know if you have any info. on this.

[2021-03-13 13:05] #135 closed

[2021-03-16 10:10] faandg commented on #234
In the end, the issue was due to special permissions inherited by a parent folder on the DFS side which caused the mount to fail with vers=3.
Mounts are now successful and most of the time stable.
We still have an issue when scaling up and down, but I will create a separate issue for that.

[2021-03-16 10:10] #234 closed

[2021-03-16 10:28] faandg opened #240 "File exists when re-using mounts after scaling pods"
**What happened**:
We have an issue that seems to happen when scaling pods down/up quickly in OpenShift (due to deployment change, for example changes to the liveness probe).
If the terminated pod was running on the same node that is used for the new pod, the node already has the mount point configured and seems to fail to re-use it:

[code]

We can fix this by labeling that specific node as unsch

[2021-03-16 11:02] andyzhangx commented on #240
what's your pv/pvc/deployment config? If you only have one PV, the `NodeStageVolume` would only happen once for the first pod running, the second pod would not trigger `NodeStageVolume` since that PV is already mounted on the node. Provide more details could help understand this issue, and I just used example [here](https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/deploy

[2021-03-16 11:45] andyzhangx commented on #232
why would you update pv? is it possible to delete original pv/pvc and then create new pv with new property, I am not sure whether CSI driver could support such update scenario, it's never tested.

[2021-03-16 14:48] faandg commented on #240
PV:
[code]

PVC:
[code]

The deployment itself is managed by the [OpenLiberty operator](https://github.com/OpenLiberty/open-liberty-operator/blob/master/doc/user-guide.adoc) but just contains a simple reference to the PVC.

[code]

[2021-03-16 15:05] andyzhangx commented on #240
could this issue repro by this example(https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/deployment.yaml)  in your cluster? I tried, while it works well after a few tries scaling up/down quickly.

[2021-03-16 16:32] kvaps commented on #176
I also faced with such problem on [linstor-csi](https://github.com/piraeusdatastore/linstor-csi) driver.

Setting `fsGroupPolicy: None` as suggested @andyzhangx in https://github.com/kubernetes-csi/csi-driver-smb/issues/176#issuecomment-748477711 does not helping much.

It seems setting `--feature-gates=CSIVolumeFSGroupPolicy=false` is reliable workaround for kubelets, but how to fix it for proper

[2021-03-16 17:53] SomKen commented on #176
Updating your deployments? https://kubernetes.io/blog/2020/12/14/kubernetes-release-1.20-fsgroupchangepolicy-fsgrouppolicy/ It seems this isn't "broken" as this feature is now enabled vs disabled in previous versions. Either manually disable the policy or update your deployments seems to be the only options.

[2021-03-16 17:54] SomKen commented on #176
@woloss Can you close this?

[2021-03-17 03:04] andyzhangx commented on #176
let me start an e2e test with 1.20

[2021-03-17 08:55] andyzhangx commented on #176
interesting thing is I have set up e2e test on Ubuntu 18.04 node with k8s 1.20.2 version, it only set following feature-gate, and e2e tests work well: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-smb/199/pull-csi-driver-smb-e2e-vmss/1372084342230093824/build-log.txt
[code]

I think it could be related to `Ubuntu 20.04`, this driver is never tested on Ubu

[2021-03-17 10:53] faandg commented on #240
Hi @andyzhangx ,

It looks like the issue was caused by having this driver and the [old deprecated driver](https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/smb) installed at the same time.

We installed both drivers to make the transition easier as we have a lot of applications which had to be tested.
Since we are now done migrating to the new driver, we uninstalled the ol

[2021-03-17 10:58] andyzhangx commented on #240
ok, thanks

[2021-03-17 10:58] #240 closed

[2021-03-23 17:02] maxisam opened #242 "use controlplane instead of master"
https://github.com/kubernetes-csi/csi-driver-smb/blob/c16b61d150fa03d7ec0660bbd83e24e2955c1b97/charts/v0.6.0/csi-driver-smb/templates/csi-smb-controller.yaml#L23

[2021-03-24 13:18] JesperBerggren opened #244 "Mount SMB share with extended ACL support"
**Is your feature request related to a problem?/Why is this needed**
We have an issue where we need to make an atomic move (not copy) of a file from one folder on the SMB share to another. When moving the file it's not possible to make the file inherit the folder permissions of the destination folder. That is necessary for us to maintain different user permissions on the source and destination fol

[2021-04-01 13:22] IskandarNabiev commented on #36
How can I put user and password to this deployment?

[2021-04-01 14:12] andyzhangx commented on #36
@IskandarNabiev follow guide here: https://github.com/kubernetes-csi/csi-driver-smb/tree/master/deploy/example/smb-provisioner#set-up-a-samba-server-on-a-kubernetes-cluster

[2021-04-01 14:30] IskandarNabiev commented on #36
Ok. Maybe you will help me. I have a cluster on AWS. I have exactly the same deployment as you. And now I want to access the file in /smbshare through my java app.  I have the following from stackoverflow:

[code]

Now if I follow your guide, will I find the answer?

[2021-04-04 02:55] andyzhangx commented on #244
looks like it's related to samba server setup, not related to smb driver?

[2021-04-05 06:06] andyzhangx commented on #229
could refer to https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/601

[2021-04-05 06:07] andyzhangx commented on #229
@boddumanohar could you help? thanks.

[2021-04-05 06:07] boddumanohar commented on #229
sure

[2021-04-06 09:12] andyzhangx commented on #182
it's done

[2021-04-06 09:12] #182 closed

[2021-04-07 06:01] #229 closed

[2021-04-07 09:17] #242 closed

[2021-04-08 17:30] tiwarishrijan opened #248 "mount error(22): Invalid argument"
**What happened**:
`Warning  FailedMount  13s (x6 over 29s)  kubelet            MountVolume.MountDevice failed for volume "my-pv" : rpc error: code = Internal desc = volume(UB7GTX) mount "//10.xx.xx.xx/XXXXXXXXX" on "/var/lib/kubelet/plugins/kubernetes.io/csi/pv/my-pv/globalmount" failed with mount failed: exit status 32
Mounting command: mount
Mounting arguments: -t cifs -o dir_mode=0777,file_mod

[2021-04-09 03:03] andyzhangx commented on #248
it said `Invalid argument`, could you try mount manually on the node:

https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#troubleshooting-connection-failure-on-agent-node

[2021-04-09 08:23] andyzhangx commented on #248
it turns out that password contains special chars which cifs mount could not recognize, close this issue.

[2021-04-09 08:23] #248 closed

[2021-04-12 07:05] tiwarishrijan opened #250 "Permission Denies when Mounting Windows Share"
**What happened**:
[code]

- CSI Driver version:
Master
[code]
- OS (e.g. from /etc/os-release):
AKS Pod

[2021-04-12 07:12] andyzhangx commented on #250
related to this issue? https://github.com/kubernetes-csi/csi-driver-smb/issues/162#issuecomment-734178537

[2021-04-12 07:14] #162 closed

[2021-04-12 07:32] tiwarishrijan commented on #250
@andyzhangx After adding Domain its giving same error
[code]
[code]

[2021-04-12 07:52] andyzhangx commented on #250
pls try mount manually on the agent node, it could be due to incorrect password: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#troubleshooting-connection-failure-on-agent-node

[2021-04-12 08:05] tiwarishrijan commented on #250
@andyzhangx

When Mounting on agent node its working absolutely fine.

[2021-04-15 06:53] vittico opened #251 "CIFS VFS: No writable handle in writepages rc=-22"
Hello

I keep seeing this message in dsmesg logs constantly.  This is an Openshift 4.6 installation on Azure, everything seems to work OK, no data loss or connection issues that we can tell, just this message keeps going on, any idea what it could be?

[code]

Other interesting lines

[code]

[code]

[2021-04-20 11:49] andyzhangx commented on #64
Finally I spend some time, trying to fix this issue, there should be two PRs at least, first PR: https://github.com/kubernetes/utils/pull/203

[2021-04-20 12:07] andyzhangx commented on #164
about the `Host is down` issue which could lead to pod in `Terminating` status forever, there is already a PR to address this issue: https://github.com/kubernetes/utils/pull/203#issuecomment-823211671

[2021-04-21 03:52] andyzhangx commented on #164
would be fixed by this PR: https://github.com/kubernetes/kubernetes/pull/101305

[2021-04-21 03:52] andyzhangx commented on #64
would be fixed by this PR: https://github.com/kubernetes/kubernetes/pull/101305

[2021-04-25 03:51] andyzhangx opened #255 "Bump K8s to v0.21.0 to (mostly) address CVE-2021-3121"
**What happened**:

refer to https://github.com/kubernetes-csi/csi-driver-nfs/issues/188 & https://github.com/kubernetes-csi/csi-driver-nfs/pull/189

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Inst

[2021-04-25 03:53] boddumanohar commented on #255
/assign

[2021-04-25 07:50] andyzhangx commented on #255
refer to https://github.com/kubernetes-sigs/cloud-provider-azure/pull/603 for some changes

[2021-04-27 12:27] andyzhangx commented on #255
refer to https://github.com/kubernetes-csi/csi-driver-nfs/pull/189 as well

[2021-05-04 13:54] andyzhangx commented on #255
fixed

[2021-05-04 13:54] #255 closed

[2021-05-04 13:59] andyzhangx commented on #120
refer to https://github.com/kubernetes-csi/csi-driver-nfs/pull/53, should support:
 - create subDir in CreateVolume
 - delete subDir in DeleteVolume

[2021-05-11 15:40] #176 closed

[2021-05-12 01:37] WangMosquito opened #261 "smbplugin.exe resulting in Windows nodes and causing blue screens"
**What happened**:
Working for one to two days on Windows systems a blue screen occurs .

**What you expected to happen**:
SMB mounts can be mounted from Windows systems.

**How to reproduce it**:
We use an on-premise Kubernetes cluster running Windows as well as Linux nodes. We have installed the kubectl csi-driver-smb-v0.6.0 in the kube-system namespace, with Windows integration enabled.

In add

[2021-05-12 02:07] andyzhangx commented on #261
have you installed csi-proxy? I am surprised that this driver would make blue screen, it just does mount & unmount through csi-proxy, below are the windows node version we are using in e2e test, it works well:

[code]

[2021-05-12 02:18] WangMosquito commented on #261
yes, i have installed csi-proxy, but not die immediately, can Working for one to two days.

install to C:\etc\kubernetes\node\bin
[code]
csi-proxy.exe can be installed and run as binary or run as a Windows service on each Windows node
[code]

[2021-05-13 03:05] #214 closed

[2021-05-13 03:08] andyzhangx commented on #214
@slavonnet is it resolved?

[2021-05-13 06:12] slavonnet commented on #214
I will try this
https://github.com/Mellanox/ib-kubernetes
but but IB will be great use for multicast updates, direct sccess and l;ow latancy. Not  onlu for storahe and network. for inhouse (and ROCE).

[2021-05-13 06:22] slavonnet commented on #214
Also linux kernel now have suppoer got SMB direct access and rdma but  only in kernel side. Samba in dev now. Looks like SMD3 ok, direct ok, rdma ok, multichennel in basic stage, support one host and  need tune  parames (rdd, qieies) for win side. Its like rss more ehwn 40g and switch to 1g.

Amd ,must critical/. Application Mode down support (need for VM, DB) collect to server share. Win cluster

[2021-05-17 03:09] maxisam commented on #176
@woloss why do we close this? I thought it still has issue with ubuntu 20.04 + k8s 1.20.2

[2021-05-17 03:13] SomKen commented on #176
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}  It's not an issue - it's a feature ;)

[2021-05-17 03:55] #175 closed

[2021-05-18 15:44] lesio999 opened #267 "After installing CSI driver using helm with --set windows.enabled=true, the connection to the ingress controller becomes sporadic"
**What happened**:
Main issue: after installing CSI driver using helm with --set windows.enabled=true, the connection to the ingress controller becomes sporadic. (one request succeeds and the next fails, the third succeeds, the fourth fails. , we used four different types methods to test connection)

**What you expected to happen**:
Expecting to have access to my services via ingress unaffected

*

[2021-05-18 15:51] andyzhangx commented on #267
When install windows driver, it would create a daemonset and expose following two ports on the windows agent node, I think that's the only difference when you set `--set windows.enabled=true`
https://github.com/kubernetes-csi/csi-driver-smb/blob/932dc53fbd1e29334c26b6c71bd2e303310207ff/deploy/csi-smb-node-windows.yaml#L79-L85

[2021-05-18 16:01] lesio999 commented on #267
We tried the other day with overridden ports --set controller.metricsPort=39644 --set node.metricsPort=39645 as well - still not good.
Where do you think we may have that port collision?
What ports should be open in the linux pod - I see 29643 and 29645.

From: Andy Zhang ***@***.***>
Sent: Tuesday, May 18, 2021 11:52 AM
To: kubernetes-csi/csi-driver-smb ***@***.***>
Cc: Lewicki, Leszek (Cognizant

[2021-05-19 08:58] #222 closed

[2021-05-19 12:48] frightener opened #269 "Files sometimes inaccessible"
Hello,

we are using the SMB driver on OpenShift 4 and normally it works well. Lately we sometimes found that files were not accessible. The mount is still available and directories can be listed. Even the files' metadata is correct (i.e. size and timestamps). Nevertheless the files appear empty. A second mount on the same worker does show the correct file content.
I can't tell yet under what circ

[2021-05-20 12:13] woloss commented on #176
I didn't pay attention to issue. Plus, on brand new single node k8s or cluster, it's not an issue. Just tested with brand new 1.21 VM and it's working right away.

[2021-05-21 09:30] #32 closed

[2021-05-21 09:30] #177 closed

[2021-05-22 01:17] andyzhangx commented on #267
since it's only related to Windows daemonset, would you try replace with other ports(or remove those ports directly) in `csi-smb-node-windows.yaml`, and then `kubectl apply -f csi-smb-node-windows.yaml`

https://github.com/kubernetes-csi/csi-driver-smb/blob/a03a482b5e925a77edcdfbab2ae330be8f5866ff/deploy/csi-smb-node-windows.yaml#L79-L85

[2021-05-24 11:37] andyzhangx opened #275 "should support two pods which share the same volume"
**What happened**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-smb/274/pull-csi-driver-smb-external-e2e/1396768440320004096

• Failure [61.347 seconds]
External Storage [Driver: smb.csi.k8s.io]
/workspace/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/storage/external/external.go:175
  [Testpattern: Generic Ephemeral-volume (de

[2021-05-24 14:03] andyzhangx opened #276 "should be able to unmount after the subpath directory is deleted [LinuxOnly]"
**What happened**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-smb/274/pull-csi-driver-smb-external-e2e/1396768440320004096
[code]

related to https://github.com/kubernetes/kubernetes/issues/97031

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (u

[2021-05-31 09:48] Mohkam commented on #219
Mark the issue as fresh with /remove-lifecycle stale

[2021-06-01 12:35] JesperBerggren opened #281 "Newly introduced drivername makes csi-smb-node crash"
**What happened**:
We upgraded our Helm template from v.0.7.0 to v.0.7.0 (yes, an upgrade to the same version).
After the upgrade the node, csi-smb-node, started to fail with the following error:
[code]
We've looked into your commits and it appears that you've made a commit a couple of weeks ago that introduced this new flag.
Unfortunately it breaks the functionality - at least when using Helm.

W

[2021-06-01 13:38] andyzhangx commented on #281
try run helm with `--set image.smb.pullPolicy=Always` to pull the image on the node, `v0.7.0` is actually not released, you should use stable released version(e.g. `v0.6.0`) in your cluster.

Another workaround is try `kubectl edit ds -n kube-system csi-smb-node` to set `imagePullPolicy: Always` and change smb image version, to make it pull the latest image on all agent nodes.

[2021-06-01 13:58] JesperBerggren commented on #281
Hi and thanks for quick reply!!

Unfortunately we can't revert to v.0.6.0 because you fixed another issue in v.0.7.0 so it won't help us setting the pull policy to always (because it will still just get the newest version that has the drivername error).

Is there anything we can do to help things along? It's quite urgent for us as we're in the middle of testing of our platform and solution. I gues

[2021-06-01 14:02] andyzhangx commented on #281
Another workaround is try `kubectl edit ds -n kube-system csi-smb-node` to set `imagePullPolicy: Always` and change smb image version(`latest` --> `v0.7.0` or `v0.7.0` --> `latest`), to make it pull the latest image on all agent nodes.

What issue are you mentioning?

[2021-06-01 14:13] JesperBerggren commented on #281
Hi again,

The issue is that the latest version (both using image tag latest and 0.7.0) doesn't work when using Helm.
The csi-smb-node is in state CrashLoopBackOff because of the following error in the log (notice the line: _flag provided but not defined: -drivername_):
[code]

[2021-06-01 14:20] andyzhangx commented on #281
[code]
And then change `image` and `imagePullPolicy` as following, I have a cluster has same issue with yours and fix the issue by using this workaround:

[code]

[2021-06-01 14:23] andyzhangx commented on #281
BTW, once #259 is merged, I will publish a GA release, that's a milestone.

[2021-06-01 14:50] JesperBerggren commented on #281
Oh, you're right (of course).
Setting the imagePullPolicy to always was in fact a valid work around.
Thanks for a quick resolution to an urgent issue.

We're looking forward to the next GA release.

[2021-06-01 14:50] #281 closed

[2021-06-02 03:21] #120 closed

[2021-06-02 11:17] andyzhangx opened #289 "DeleteVolume does not work"
**What happened**:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-smb/288/pull-csi-driver-smb-e2e/1400022664780713984/build-log.txt
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
-

[2021-06-02 11:19] boddumanohar commented on #289
/assign

[2021-06-02 11:22] andyzhangx commented on #289
pls also add a ut for `getSmbVolFromID` func, thanks.

[2021-06-02 23:22] lizhuqi opened #294 "smb-server.default.svc.cluster.local could not be recognized by New-SmbGlobalMapping command on Windows node"
**What happened**:
FailedMount  3s (x6 over 29s)  kubelet            MountVolume.MountDevice failed for volume "pvc-34f4bd50-0b59-4118-b814-13c3b024a478" : rpc error: code = Internal desc = volume(pvc-34f4bd50-0b59-4118-b814-13c3b024a478) mount "\\\\smb-server.default.svc.cluster.local\\share" on "\\var\\lib\\kubelet\\plugins\\kubernetes.io\\csi\\pv\\pvc-34f4bd50-0b59-4118-b814-13c3b024a478\\globa

[2021-06-03 00:33] andyzhangx commented on #294
that's different thing, csi-proxy is running as a standalone process on Windows node, so the problem here is `smb-server.default.svc.cluster.local` on Windows node

[2021-06-03 02:49] andyzhangx opened #296 "fix the integration test failure when provision secret is provided"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-csi/csi-driver-smb/pull/295/checks?check_run_id=2733216033
[code]

**Describe alternatives you've considered**

**Additional context**

[2021-06-03 02:49] #289 closed

[2021-06-03 14:01] boddumanohar commented on #296
/assign

[2021-06-04 15:35] jsturtevant commented on #294
Are you using containerd?  this looks similiar to https://github.com/kubernetes-sigs/windows-gmsa/issues/30.

What version of Windows OS are you using?  And it sounds like you have AD configured with GMSA?

[2021-06-05 01:51] andyzhangx commented on #294
@jsturtevant it's different issue, public domain name could be resolved, while k8s cluster domain name `*.default.svc.cluster.local` could not be resolved by csi-proxy.exe on windows node, I think that's expected. And usually it only affects testing since in most cases, user should use public domain name for smb server.

[2021-06-05 03:13] #108 closed

[2021-06-05 03:46] lizhuqi commented on #294
I am using docker. OS version is 10.0.17763.1757. I tested both, public domain name from a smb server  in AD works fine. server.default.svc.cluster.local from a Samba server running in linux node doesn't work

[2021-06-05 06:16] lizhuqi commented on #294
I think some customer may want to use samba server to export the smb share without using AD. The error is thrown by New-SmbGlobalMapping. do you feel csi-proxy.exe shall resolve the name to IP before passing it to New-SmbGlobalMapping?

[2021-06-06 13:26] andyzhangx commented on #294
@lizhuqi one workaround is resolve to IP in our disk driver, and replace domain name with IP in `source`

[2021-06-07 18:01] zenbones opened #302 "Periodic failure to mount"
EKS with Kubernetes 1.19
Samba share running in AWS on windows servers

The samba host has been running for a long time and is used by both EKS pods and EC2 installations. Works fine most of the time but 1 in 10 EKS pods fail consistently with errors like this...

[code]

And the pod never comes out of the waiting condition. The other pods started up in the same release, using the same helm instal

[2021-06-07 20:23] zenbones commented on #302
[code]

[2021-06-08 13:17] andyzhangx commented on #302
what's the driver version are you using? Would you try latest GA v1.0.0 version?

[2021-06-08 13:24] andyzhangx commented on #302
and pls also provide node driver logs on agent node(`ip-10-0-2-94.ec2.internal`), follow by: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

[2021-06-08 19:12] lesio999 commented on #267
I would like to add: this issue looks like is exposed when applied for linux nodes only. I know the title at this point is misleading. Is there anything we can do to troubleshot that? BTW: I installed v1.0.0, no difference, still "locking" our services via ingress.

[2021-06-08 20:22] zenbones commented on #302
Well, started up our installation today and no error once again. That would be the 'periodic' nature of this problem. As soon as I can generate the error again I'll grab those logs and add them here.

[2021-06-09 02:25] andyzhangx commented on #267
would you try this config, I removed one containerPort and changed another containerPort num:
[code]

[2021-06-09 02:52] andyzhangx commented on #302
and once it repro, pls check whether `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/prod1-smb-pv/globalmount` is created on the agent node. It could be also smb server issue, e.g. there is a DFS file share issue which would also lead to this exact same error(`mount error(2): No such file or directory`), details: https://github.com/Azure/AKS/issues/2292

[2021-06-09 09:34] ieugen opened #304 "How many connection to the SMB server does driver create?"
Hi,

Does the driver use one SMB connection / PV or 1 SMB connection per node ?

I am trying to figure out if this is suitable for use with Hetzner storage box.
Storage box can offer SMB/CIFS interface but limits the number of connections to 10.

Thanks,
Eugen

[2021-06-09 09:44] andyzhangx commented on #304
it's one SMB connection / PV

[2021-06-09 10:05] andyzhangx opened #305 "[test] add wait until succeed in bash script"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

current implementation in bash script would wait 60s for pod run succeeded which is low efficient, should add a wait until succeed in bash script

https://github.com/kubernetes-csi/csi-driver-smb/blob/6fe1ee845dca7d1b133bd31393c9f268eb19f092/hack/verify-examples.sh#L25-L32

**Descr

[2021-06-09 13:11] #304 closed

[2021-06-09 17:00] zenbones commented on #302
Caught that issue in action again, same event log a already given. There are 2 controller pods and the logs are...

[code]

...and...

[code]

[2021-06-09 17:18] zenbones commented on #302
I can't check whether the globalmount directory exists on the agent because neither 'ls' nor 'bash' are available on the pod via 'kubectl exec -it'. The driver was installed via helm chart...

https://raw.githubusercontent.com/kubernetes-csi/csi-driver-smb/master/charts

So if it's the DFS file share issue the chart should probably be updated with the fixed version? And I'm running in EKS on AWS i

[2021-06-10 01:34] andyzhangx commented on #302
for this issue, we only need agent node driver logs (not controller logs), and you could ssh to the node by kubectl-enter: https://github.com/andyzhangx/demo/tree/master/dev#kubectl-enter

[2021-06-10 15:42] zenbones commented on #302
I'm on a windows machine so I'm not sure that kubectl-enter will do me any good. I will attempt to see if the globalmount directory exists the next time this problem occurs. When this happened the last time I noticed that it was the same IP address, ending in .94, as the last, even though the cluster had been shut down. That's unusual in AWS and made me wonder if it was a problem specific to a par

[2021-06-12 18:51] bambam247 opened #307 "Dynamic provisioning successful but smbSubFolder not created in stead PVs mounted directly in root of share"
**What happened**:
smbSubFolder not created
**What you expected to happen**:
smbSubFolder created with name of PV

**How to reproduce it**:
[code]

basically following the e2e example

**Anything else we need to know?**:
pv created succesfully, db init seems successful also, however I am not sure it is intended for both nodes (postgresql in this case) to see the exact same folder on the smb server

[2021-06-13 01:16] andyzhangx commented on #307
could you provide `/CreateVolume` logs in controller? I think there is error in creating sub dir, follow: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#case1-volume-createdelete-failed

[2021-06-13 05:32] bambam247 commented on #307
Hi Andy,

Thanks for your fast respons, there are unfortunately no errors in  neither of the controller logs  during CreateVolume either.

Controller #1
[code]

Controller #2
[code]
[code]

[2021-06-13 06:49] andyzhangx commented on #307
I think you are not using latest version, could you try edit smb controller deployment(`kubectl edit deployment csi-smb-controller -n kube-system`) to pull `mcr.microsoft.com/k8s/csi/smb-csi:v1.0.0` image, the expected `CreateVolume` logs in controller should be following in our e2e test:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-smb/306/pull-csi-driv

[2021-06-13 06:50] andyzhangx commented on #307
also set `imagePullPolicy: Always` to always pull image:
https://github.com/kubernetes-csi/csi-driver-smb/blob/f5923481c7c54f57e5b385499161e4f4f93b0b82/deploy/csi-smb-controller.yaml#L69-L70

[2021-06-13 08:31] bambam247 commented on #307
The image was already set to mcr.microsoft.com/k8s/csi/smb-csi:v1.0.0 I have set the pullpolicy to Always I will try and set it to latest as well;

v1.0.0
[code]

latest
[code]

[2021-06-13 08:32] andyzhangx commented on #307
pls provide full driver controller logs, I doubt it's not updated.

[2021-06-13 08:33] andyzhangx commented on #307
typo, try set as `v1.1.0`

[2021-06-13 08:34] bambam247 commented on #307
[code]

[2021-06-13 08:39] andyzhangx commented on #307
there should be logs like following, that's what I want to take a look:
[code]

[2021-06-13 08:51] bambam247 commented on #307
node  start logs
[code]

node provision logs
[code]

[2021-06-13 08:57] andyzhangx commented on #307
what's the driver controller logs?

[2021-06-13 09:19] andyzhangx commented on #307
interesting, I just run the example of this project and it works well in 1.21.1 cluster, install smb driver by https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/install-csi-driver-master.md.

Can you describe your controller pod by `kubectl describe po -n kube-system csi-smb-controller-xxx`?

[code]
 - controller logs
[code]

[2021-06-13 09:27] bambam247 commented on #307
[code]

[2021-06-13 09:28] andyzhangx commented on #307
I did not find `"secrets":"***stripped***"` parameter in your `/csi.v1.Controller/CreateVolume` logs, I think you are using another storage class without `csi.storage.k8s.io/provisioner-secret-name` setting.

[code]

[2021-06-13 09:29] bambam247 commented on #307
there are no other storage classes in the cluster

[2021-06-13 09:31] andyzhangx commented on #307
there would be always `"secrets":"***stripped***"` logs in `CreateVolume` if you provide `csi.storage.k8s.io/provisioner-secret-name` in storage class.

[2021-06-13 09:45] andyzhangx commented on #307
What if you change storage class like this, will PVC be created successfully?
[code]

[2021-06-13 09:54] bambam247 commented on #307
- there is only 1 storageclass in the cluster and controller provisions a working volume, so there cannot be anything wrong with the secret.
- The storageclass is also very specific to how postgres expects the folder modes to be set
- appending that diff results in container not starting because of unbound claims, as expected

[2021-06-13 11:18] andyzhangx commented on #307
would you provide `csi-provisioner` logs? ,e.g. `k logs csi-smb-controller-54dd886b5f-kzpn8 -n kube-system -c csi-provisioner`

[2021-06-13 13:09] bambam247 commented on #307
csi-provisioner mount log
[code]

[2021-06-14 03:54] zenbones commented on #302
Caught the error in action again...

[smblog.txt](https://github.com/kubernetes-csi/csi-driver-smb/files/6645521/smblog.txt)

[2021-06-14 04:00] zenbones commented on #302
I was also able to conform the existence of the globalmount dir...

[code]

[2021-06-14 19:14] lizhuqi commented on #294
/assign

I will implement this workaround.

[2021-06-15 00:07] zenbones commented on #302
I had a replication of the error and gathered the information you requested. Here's the log from the agent...

[smb.txt](https://github.com/kubernetes-csi/csi-driver-smb/files/6651870/smb.txt)

And here's proof that the /var/lib/kubelet/plugins/kubernetes.io/csi/pv/prod1-smb-pv/globalmount directory does not exist...

[code]

[2021-06-15 02:40] andyzhangx commented on #302
do other PVs use same `smb-volumeid` in your cluster?

[2021-06-15 17:21] zenbones commented on #302
Looking at the volume handle I clearly intended to make that more descriptively unique but never did, so I can see the question. However, as it turns out, we have only one smb pv in the cluster, and that volume handle, however generic, is unique and used nowhere else.

[2021-06-16 12:23] #294 closed

[2021-06-17 11:34] steveizzle opened #311 "documentation of provisioner-secrets-*"
**Is your feature request related to a problem?/Why is this needed**
createSubDir paramter was removed, because it was described as redundant in the #295 .
I could find following information in the example:

  \# if csi.storage.k8s.io/provisioner-secret is provided, will create a sub directory
  \# with PV name under source

But i could not find provisioner-secret in the documentation of the [driv

[2021-06-17 14:27] andyzhangx commented on #311
thanks, I have updated the driver parameters: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/driver-parameters.md

[2021-06-17 21:39] #311 closed

[2021-06-18 03:06] zenbones commented on #302
Changing the version to 1.0 has so far been much more successful.

[2021-06-19 13:11] bbgobie opened #312 "Specific nodes have issues mounting PV volume ID already exists"
We're having intermittent issues mounting volumes using the csi-driver-smb on AKS.
When the issue happens it seems a node suddenly can no longer complete the mount while pods on other nodes of the same deployment have no problem.
Pod events show messages like this for pods on affected nodes.
  Warning  FailedMount  12m (x46 over 18h)     kubelet  MountVolume.MountDevice failed for volume "pv-smb-c

[2021-06-19 14:28] andyzhangx commented on #312
a normal `NodeStageVolume` logs is like this:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-smb/310/pull-csi-driver-smb-e2e/1405338824304758784/build-log.txt
[code]

I can only find it's mounting, while it never returns like this:
[code]

[2021-06-19 14:31] andyzhangx commented on #312
what's your aks version and node vm size? looks like it's stuck there forever.

[2021-06-19 20:06] rajibmitra commented on #198
/remove-lifecycle rotten

[2021-06-22 13:23] bbgobie commented on #312
The node pool the logs were taken from are at 1.18.17
Node is sized at Standard_D8s_v3
The control plane is at 1.19.19

I was able to get a pod on the nodes in question to mount an Azure Files share.  So I'm not sure if there's some sort of config in our deployment or our Netapp that causes the issue.

The SMB share we're mounting is provided by a NetApp hosted in Azure, but I don't believe its th

[2021-06-22 15:06] bbgobie commented on #312
I've scaled down all our deployments in the cluster with these troublesome mounts and it seems the csi-smb-node pods continue to log messages like this.  The pods on nodes without issue stop logging after the deployments are scaled down.

`I0622 15:01:32.579166       1 utils.go:118] GRPC call: /csi.v1.Node/NodeUnstageVolume
I0622 15:01:32.579188       1 utils.go:119] GRPC request: {"staging_target

[2021-06-22 19:02] bbgobie commented on #312
If we manually reboot a machine that has the mounting issues, it goes into a reboot loop.  It will reboot roughly every 35 mins.  A hard reboot.  That's a pretty long story but from all data we've gathered on that subject it seems the hypervisor triggers the reboot and the AKS node is unaware its going to happen.

[2021-06-22 20:17] bbgobie commented on #312
Deleted last 2 comments because we had an error while testing today.  So any data from today is not valid.

[2021-06-23 05:48] andyzhangx commented on #312
can you try `mount -t cifs -o vers=3.0,dir_mode=0777,file_mode=0777,uid=100,gid=101,domain=, ///akstransientpf02 xxx` on the node in problem to check why mount command stuck there forever?

[2021-06-29 12:10] rmogalipuvvu opened #316 "Unable to attach or mount volumes using any version of csi-driver-smb"
**What happened**:
Objective:
Trying to install csi-smb-driver in our aks cluster and and mount DFS folder to access pods from AKS pods.

Able to install and followed the instructions from here including troubleshooting however it ends up here with following error.

 Warning  FailedMount  14m (x36 over 6h26m)     kubelet  Unable to attach or mount volumes: unmounted volumes=[smb], unattached volum

[2021-06-29 15:53] bbgobie commented on #312
Sorry, we don't have a reliable reproduction.  Some pods have just started failing.

Pod events show messages like this.

`   Warning  FailedMount       2m49s (x2 over 3m37s)  kubelet            MountVolume.MountDevice failed for volume "pv-smb-csi-mds3-core-dvsh-01-csi-1" : kubernetes.io/csi: attacher.MountDevice failed to create dir "/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pv-smb-csi-mds3-

[2021-06-30 01:43] andyzhangx commented on #312
the dir `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/pv-smb-csi-mds3-core-dvsh-01-csi-1/globalmount` should have been mounted before, and there is failure in unmount in driver, if you could remove `file_mode=0777` mount option in your storage class, does it work? This is interesting that removing `file_mode=0777` mount option would and then manually mount works,  I think there is some issue in y

[2021-06-30 03:42] andyzhangx commented on #316
does manually mount on the agent node works? follow: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

could be related to this issue: https://github.com/Azure/AKS/issues/2292

[2021-07-01 08:25] zenbones commented on #302
Started failing again consistently, even at version 1.0, but emitting this command...

` kubectl exec -n kube-system -it csi-smb-node-<generated> -c smb -- mkdir -p /var/lib/kubelet/plugins/kubernetes.io/csi/pv/<smb pv name>/globalmount`

...fixed the problem, the next retry of the mount on the agent worked and everything else proceeded forward. For some reason that directory is not consistently c

[2021-07-01 09:03] andyzhangx commented on #302
csi driver node logs should provide all details, follow: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

`/var/lib/kubelet/plugins/kubernetes.io/csi/pv/<smb pv name>/globalmount` should be created in `/NodeStageVolume` func in the logs, not sure why it was not created consistently

[2021-07-01 17:32] zenbones commented on #302
That code looks pretty clear, but the fact that the directory does not exist is also clear. Either, this line in nodeserver.go silently fails...

		if err := os.MkdirAll(targetPath, 0750); err != nil {
			return nil, status.Error(codes.Internal, fmt.Sprintf("MkdirAll %s failed with error: %v", targetPath, err))

...or is never called, because the os denies the existence of the directory 25 lines l

[2021-07-01 17:47] zenbones commented on #302
Here's the error in action btw...

[code]

[2021-07-01 19:07] zenbones commented on #302
Upon seeing a mount failure I tried creating the directory again via kubectl exec and this time the procedure failed. The directory was created, but something in the mount procedure deletes the directory. I can create the dir, see that it's created, get a mount failure, and immediately after that the directory is gone. Either the go code is doing it or the os mount call is. Odd that this worked be

[2021-07-01 22:22] zenbones commented on #316
We may be seeing the same problem https://github.com/kubernetes-csi/csi-driver-smb/issues/302 on EKS in AWS with kubernetes 1.19. We get the same error in any case.

[2021-07-13 12:36] Peter-Sh commented on #307
I have faced same behavior after accidentally updating csi-smb-node on one of the kubernetes nodes to to the latest image tag. All other сsi-smb-node images were v0.7.0
Now, instead of mounting subFolders root folder is mounted in the pod and I can see all other pvc-*-* in mount point. This happens with all new pods on all nodes.
I have downgraded csi-smb-node to v0.7.0 (have looked which version

[2021-07-14 13:36] bbgobie commented on #312
Since the issue came up we haven't been able to duplicate it again. Closing for now

[2021-07-14 13:49] bbgobie commented on #312
In todays case, mount command on this particular node hangs when connecting to our share.  We can see the mount commands in ps -aux.  Mount works from other nodes.  Hopefully this will be fixed by one of the kernel bugs identified.

[2021-07-14 14:02] andyzhangx commented on #312
there is already `wait.PollImmediate`, when mount hangs, it would be timeout after 2 minutes:
https://github.com/kubernetes-csi/csi-driver-smb/blob/29a07ac1edfaa180f5138fdf1f85fb0e162a0342/pkg/smb/nodeserver.go#L194-L198

[2021-07-14 14:38] bbgobie commented on #312
Sorry, I didn't check to see how old those mount commands were.  Just that under normal circumstances when mounting is working we wouldn't see the command in ps.
When I manually tried to mount the volume and it hung I just gave up after 10-15 seconds because that would be a very abnormal amount of time for us to mount a volume.

[2021-07-14 20:02] bbgobie commented on #312
Just want to double check.
Does the plugin mount the share to  /var/lib/kubelet/plugins/kubernetes.io/csi/pv/<id>/globalmount only?
I see those mounts on the host vm, and also the same source mounted to
/var/lib/kubelet/pods/<pod_id>/volumes/kubernetes.io~csi/<id>/mount

[2021-07-15 12:41] bbgobie commented on #312
Just keeping this thread updated.  We have a nodepool with a bunch of Azure Linux Kernel 54.56 and am still running into issues mounting occasionally.  It seems as soon as a node has errors with a mount source, mounts to that source will no longer work on that node.

There seems to be a variety of errors that can come up.  Here's one which I think was the original reported.

`Warning  FailedMount

[2021-07-16 12:15] felixmw commented on #316
Same here

[2021-07-16 12:52] andyzhangx commented on #312
this PR may solve this issue: https://github.com/kubernetes-csi/csi-driver-smb/pull/322

[2021-07-16 12:53] andyzhangx commented on #302
this PR may solve the issue: https://github.com/kubernetes-csi/csi-driver-smb/pull/322

[2021-07-16 16:52] zenbones commented on #302
Thank you for the note. I'm not sure I would have found that anytime soon, but I'm unsurprised that there was an issue in that section of the code. When does this hit the master branch image?

[2021-07-17 00:10] andyzhangx commented on #302
@zenbones #322 is already in master branch image, I think you could have a try first.

[2021-07-17 03:38] zenbones commented on #302
We install via helm chart. The latest version, at 1.2.0 gives...

Build Date: "2021-07-01T01:26:26Z"
Compiler: gc
Driver Name: smb.csi.k8s.io
Driver Version: v1.2.0
Git Commit: 7dbdc2ebd65d688e950be62d0bcb68798ed863c9
Go Version: go1.16
Platform: linux/amd64

...uses 'latest' tag, and still shows the issues. Not sure if 'latest' has the PR in it or not.

[2021-07-17 05:09] andyzhangx commented on #302
follow this guide to set `imagePullPolicy: Always` with command `kubectl edit ds csi-smb-node -n kube-system`
https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#update-driver-version-quickly-by-editing-driver-deployment-directly

and then you will get following build tag:
[code]

[2021-07-17 16:12] zenbones commented on #302
Did that and it seems that the behavior is now correct. Had a node fail a first attempt at the mount but it self corrected and all nodes are fine. First time that's happened in a long while so my initial guess is that you solved a bug and I have a solution. Very much appreciated.

I'd like to avoid hand editing the yaml each time I start a cluster. Do you know what app version this PR will be incl

[2021-07-18 07:33] andyzhangx commented on #302
I will publish a new release next week.

[2021-07-19 02:25] andyzhangx commented on #302
v1.2.0 was published: https://github.com/kubernetes-csi/csi-driver-smb/releases/tag/v1.2.0

[2021-07-19 02:25] #302 closed

[2021-07-19 02:27] andyzhangx commented on #312
pls try latest release which has possible fix #322:
https://github.com/kubernetes-csi/csi-driver-smb/releases/tag/v1.2.0

[2021-07-19 11:21] #155 closed

[2021-07-19 21:27] manueltellez opened #326 "SMB Mapping being leaked prevents users from mounting a PV/PVS mapping to the same share."
https://github.com/kubernetes-csi/csi-driver-smb/blob/21b99d5f8082a422fb3383baec86eb31e436d4d7/pkg/mounter/safe_mounter_windows.go#L103

After deleting a PV/PVC/Deployment and trying to recreate it the mapping will fail with "Generic error". Removing the smb global mapping manually resolves the issue.

[2021-07-19 22:03] zenbones opened #327 "Periodic failure to mount, still"
Using helm chart version 1.2.0...

[code]

So maybe the 'fixed' behavior I saw was just luck? It's odd that the initial containers never seem to show this issue, i.e. the nodes created at cluster creation do not seem to do this (again, maybe just too few sampling points, but it's what I've got). Nodes created via autoscaler events do this... maybe some permission difference in EKS?

[2021-07-19 23:35] zenbones commented on #327
If it helps, I saw the above issue and drained the node in question, which the autoscaler responded to by creating a new node, which had the same issue, so I drained that one and the autoscaler created yet a newer node, and that one came up perfectly. So if it's permissions related, which would not surprise me, it's also more fundamentally race condition related. I have opened a ticket with AWS on

[2021-07-20 01:39] andyzhangx commented on #326
are you hitting this error mentioned here: https://github.com/kubernetes-csi/csi-driver-smb/tree/master/deploy/example/windows#note ?

[2021-07-20 01:42] andyzhangx commented on #326
details: https://github.com/kubernetes-csi/csi-driver-smb/issues/219#issuecomment-780287789

[2021-07-20 17:23] Peter-Sh commented on #307
I figured out my problem, it may be not exactly related to this issue, but I'll provide short description in case someone google for similar symptoms.

1. pvc folders are not created by csi-driver-smb on disk when using dynamic volumes (pvc resources are successfully created, but not folders) and then root source folder is mounted into pods upon start. This happens when there are no csi.storage.k8

[2021-07-22 21:57] zenbones commented on #327
I have noticed that additional nodes from one of our subnets always fail to mount, while nodes from the other always succeed. I don't think this is a driver problem, but an EKS subnet problem... so I'm going to drag AWS into this kicking and screaming, and I'll post the solution here and hopefully close this ticket.

[2021-07-23 15:28] yrro opened #329 "MountDevice failed for volume: rpc error: code = Internal desc = grpc: error while marshaling: string field contains invalid UTF-8"
**What happened**:

I've created a PV to access an SMB share, and a PVC has attached to it. Pods that use the PVC are stuck in `ContainerCreating`. `FailedMount` events are generated, containing the message:

[code]

**What you expected to happen**:

The mount to succeed, of course! 😉 Failing that - an intelligible event message indicating wh the mount failed.

My guess is that the CSI driver is t

[2021-07-26 10:29] bambam247 commented on #307
revisited this issue yesterday evening with latest from master; I can confirm that dynamic provisioning is successful and subfolders are now created per pv.

Closing

[2021-07-26 10:29] #307 closed

[2021-07-26 16:41] Vespasian opened #332 "Mounting cifs fails with Permission Denied (-13) in the Controller. Manually mounting the share works"
**What happened**:
I created a storage class (and the appropriate secret) to mount a share

[code]

and a persistent volume claim

[code]

The controller reports a Permission denied (-13) error when attempting to mount the store

[code]

so did the node

[code]

**What you expected to happen**:

The pv should be mounted. **I successfully manually mounted the share on the host node, the csi-smb-con

[2021-07-28 22:20] juliohm1978 opened #334 "Chart does not allow the DaemonSet deployment strategy to be customized"
**Is your feature request related to a problem?/Why is this needed**
No. This is just an improvement to the helm chart, to customize the deployment of the current version.

**Describe the solution you'd like in detail**
The default DaemonSet stragey limits unavailable pods to 1.

[code]

Since the chart does not provide any values for that, the k8s defaults are used. I would like the chart to allo

[2021-07-30 11:06] #219 closed

[2021-08-08 12:59] Vespasian commented on #332
A little bit embarrassingly but I misspelled the password as pasword (with one s) in the secret providing the credentials.

Figured it out after compiling a custom version of the driver without the credential masking in the log.

[2021-08-08 12:59] #332 closed

[2021-08-10 11:50] ptitvert opened #335 "Problem during driver installation: "path /var/lib/kubelet is mounted on / but it is not a shared mount""
**What happened**:

We are trying to deploy this driver on our k8s environment, and it doesn't work.
We get the following error:

[code]

**What you expected to happen**:

I would expect the container smb to be started, as stated in the installation guide.

**How to reproduce it**:

We have follow the installation guide :

https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/install-c

[2021-08-11 11:45] andyzhangx commented on #334
do you mean customization of `maxUnavailable` value?

[2021-08-11 11:49] andyzhangx commented on #335
would you add `/bin/mount --make-shared /var/lib/kubelet` in your agent node config? That should solve the issue.

Full configuration of kubelet is like this on AKS:

[code]

[2021-08-11 11:57] andyzhangx commented on #329
does your pv name contains invalid string?

[2021-08-11 11:59] juliohm1978 commented on #334
Ah, yes. That's it.

[2021-08-11 12:27] andyzhangx commented on #334
here is the PR: https://github.com/kubernetes-csi/csi-driver-smb/pull/336

[2021-08-11 17:21] yrro commented on #329
I don't think so...

The PV name (anonymised somewhat) that causes this error is: `smb-filexxx23-sharename-k8snamespace`

The PV name that I'm able to mount without a problem is: `smb-filexxx23-sharename-blah` - so the names are very similar - just that one is a bit longer than the other.

I can provide exact details, YAML object dumps, etc via email if it's helpful.

[2021-08-12 05:09] #334 closed

[2021-08-13 13:08] #232 closed

[2021-08-18 16:21] zenbones commented on #327
Turns out the behavior from the different subnets was a false, in that both subnets will periodically fail to mount, but, I was able to get ssh access to the nodes and was able to reproduce the problem via manual mount on the node. So the csi driver is only reporting what's happening on the node. Not your problem. Closing this ticket.

[2021-08-18 16:21] #327 closed

[2021-09-01 11:28] nixpanic opened #340 "Fetch credentials/domain from `volumeContext` parameters for mounting volumes"
**Is your feature request related to a problem?/Why is this needed**
Dynamic provisioning of SMB volumes would create dedicated credentials per volume. In Kubernetes the credentials are fetched from the Secret that is linked in the StorageClass, and these credentials are used for all volumes created by the StorageClass.

It would be great to have the ability to place credentials in the `volumeCont

[2021-09-02 09:44] andyzhangx commented on #340
Hi @nixpanic
credentials are already stored in `nodeStageSecretRef`:
https://github.com/kubernetes-csi/csi-driver-smb/blob/15c72c6c98087ed5b91b000e1db8caaca6acc290/deploy/example/pv-smb.yaml#L22-L24

follow guide here: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md#option2-pvpvc-usage

`For dynamic provisioning of SMB volumes`, actually this driver would c

[2021-09-02 11:16] nixpanic commented on #340
Thanks for the reply!

But no, this is not what I want:

We would like to implement a provisioner that creates a new Samba service and share per requested volume. This service should then only be accessible by providing credentials for the particular share. The difference is that in a multi-tenant environment, different tenants should not have shared credentials to access shares.

This [Samba Oper

[2021-09-02 11:19] andyzhangx commented on #340
hi @nixpanic we cannot store credentials as plain text in PV config, that would be a security issue, credentials can only be stored as k8s secret.

[2021-09-02 11:46] nixpanic commented on #340
Yes, that makes sense to me. However container-storage-interface/spec#466 suggests it as an alternative.

Unfortunately the `nodeStageSecretRef` for the credentials gets filled by Kubernetes and contains the values from the StorageClass. In the project that we're working on, this is not usable.

Would it be acceptable to add `credentialsSecretRef` (or some other name) as part of the `volumeAttribu

[2021-09-02 12:56] andyzhangx commented on #340
@nixpanic if you define a PV by yourself, you could add any field under `volumeAttributes`, smb csi driver won't block that.

[2021-09-02 14:54] nixpanic commented on #340
Of course, but that would not work together with dynamic provisioning through a StorageClass :disappointed:

[2021-09-04 06:26] andyzhangx commented on #340
@nixpanic you could pass the new parameter in `CreateVolume` func, while how would you get the credential(or secret name) in `CreateVolume` func?

https://github.com/kubernetes-csi/csi-driver-smb/blob/37d69ccf15d6479f54a8fd9a017c474b86626266/pkg/smb/controllerserver.go#L60-L113

[2021-09-07 03:13] andyzhangx commented on #267
@lesio999 is  the problem solved?

[2021-09-08 09:53] lesio999 commented on #267
Andy,

Still do not know. We did not move with upgrade as we wanted and plans are to go to 1.21 or even 1.22 in this Q. we will let you know when starting testing  that/those version again.

Leszek Lewicki
Application Architect Sr
O +1 908 994 3296
***@***.******@***.***>
Cognizant.com<http://www.cognizant.com/>

From: Andy Zhang ***@***.***>
Sent: Monday, September 6, 2021 11:14 PM
To: kubernetes

[2021-09-09 08:47] #250 closed

[2021-09-12 07:55] andyzhangx opened #345 "Implement Volume_mount_group capability"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

With similar implementation as https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/755

**Describe alternatives you've considered**

**Additional context**

[2021-09-12 08:17] #251 closed

[2021-09-13 17:32] Links2004 opened #346 "armv7 images for Raspberry Pi and other arm based boards"
**Is your feature request related to a problem?/Why is this needed**
I am currently running a mixed cluster with armv7 and amd64 nodes.
the csi is running fine for the amd64 but the armv7 nodes have a ImagePullBackOff since there is only a arm64 and amd64 build and no armv7 build.

**Describe the solution you'd like in detail**
build a armv7 version too ;)

[2021-09-13 19:22] san360 opened #347 "[feature request] CSI SMB Volume Expansion"
**Tried to expand allocated PVC by editing capacity**:

**Update the PVC and underlying PV**:

**Create a PVC via YAML and redeploy the PVC after updating the capacity**:

**Environment**:
- CSI Driver version: 1.20
- Kubernetes version (use `kubectl version`): 1.20
- OS (e.g. from /etc/os-release): Linux, Ubuntu

[2021-09-13 19:24] san360 opened #348 "PVC quota"
**Created a PVC with 2 GB and was able to create files in the mounted volume of 5GB**:

**Unable to use storage more than 2 GB**:

**Exec into Pod with mounted volume and create binary files more than 2 GB**:

**Environment**:
- CSI Driver version: 1.20
- Kubernetes version (use `kubectl version`): 1.20
- OS (e.g. from /etc/os-release): Linux Ubuntu

[2021-09-14 10:56] andyzhangx commented on #348
it's not supported since `CreateVolume` just creates a new directory under smb server

[2021-09-14 10:58] andyzhangx commented on #347
it's not supported yet, implement a dummy volume expansion may solve this issue. This SMB driver actually does not manage volume capacity actually, does a dummy volume expansion work for you?

[2021-09-14 11:51] andyzhangx commented on #346
base image `k8s.gcr.io/build-image/debian-base` does not support armv7, so we may need another base image that supports armv7

[code]

[2021-09-14 15:48] Links2004 commented on #346
for other containers I have used the official Debian image as base and they work fine with armv7.
https://hub.docker.com/_/debian

I typically build with:
[code]
not sure if this info helps, since I dont know the specifics of the build-image/debian-base that is used here.

[2021-09-15 03:11] andyzhangx commented on #346
@msau42 @Jiawei0227 do you happen to know which base image under `k8s.gcr.io` supports `armv7` on Linux? thanks.

[2021-09-15 03:12] andyzhangx commented on #346
o, is it `arm32v7` ? let me try first.

[2021-09-15 13:29] andyzhangx commented on #346
[code]

@Links2004

[2021-09-15 15:54] Links2004 commented on #346
looks like there is a mix here between docker image build ARCH definition which is
`linux/arm/v7` and the go env GOARCH which needs `arm`

short test for go:
[code]

[2021-09-16 14:00] andyzhangx commented on #346
not sure how to write [Makefile](https://github.com/kubernetes-csi/csi-driver-smb/blob/master/Makefile#L120-L122) correctly, if I write like this, will get below error, `ifeq` match does not work. Need help!
[code]

[code]

[2021-09-16 14:01] andyzhangx commented on #346
This does not work either:
[code]

[2021-09-16 16:18] Links2004 commented on #346
hope this helps:

[code]

working:
- `make smb`
- `ARCH=arm/v7 make smb`

side node:
not sure why the Markefile has windows line ending but that are the ^M in the diff

[2021-09-17 08:32] andyzhangx commented on #346
@Links2004 now it failed here:
[code]

[2021-09-17 09:17] #348 closed

[2021-09-17 18:25] Links2004 commented on #346
on my machine it builds fin, and fails on the push which makes sense ;)
[code]

there is a
`k8s.gcr.io/build-image/debian-base:buster-v1.9.0` in the registry but I am unable to find any changelog or real doku for build-image/debian-base.

my buildx setup:
[code]

basic:
[code]

[2021-09-18 02:21] andyzhangx commented on #346
thanks, `latest` tag image has already supported arm/v7.
[code]

[2021-09-18 02:21] #346 closed

[2021-09-18 05:34] #64 closed

[2021-09-18 07:44] Links2004 commented on #346
yes the pull of `smb-csi:latest` is working on armv7.
but it looks like
- kubernetes-csi/livenessprobe:v2.4.0
- kubernetes-csi/csi-node-driver-registrar:v2.3.0
are not armv7 compatible, will open a Issue there, and then we most likely need to update versions here.

[code]

[2021-09-18 12:09] andyzhangx commented on #346
related to this issue: https://github.com/kubernetes-csi/csi-driver-nfs/issues/199

[2021-09-21 10:25] snazzysoftware opened #353 "Host mount not removed and can be reused if multiple CSI-SMB PV/PVCs use the same network address"
**What happened**:
The mount point on the underlying Kubernetes host for a CSI-SMB PV/PVC is not unmounted if one or more other PV/PVCs remain that are also configured with the same shared folder network address. The host mount point that remains is reused by the CSI-SMB driver for future CSI-SMB PV/PVCs with the same name, avoiding the need to provide correct credentials to gain access to the sha

[2021-09-21 10:25] snazzysoftware commented on #353
[yaml_files.zip](https://github.com/kubernetes-csi/csi-driver-smb/files/7202377/yaml_files.zip)

[2021-09-21 10:25] snazzysoftware commented on #353
![diagram](https://user-images.githubusercontent.com/3932458/134155062-d39c46c7-43e9-4bd8-a40f-9dae707e9315.png)

[2021-09-21 12:30] andyzhangx commented on #353
currently one PV on one node would only have one smb mount, shared by multiple pods, so it's one  mount per PV, instead of one mount per pod, this could reduce smb mount num on the node.

[2021-09-21 13:46] frightener commented on #269
The issue might have been caused by non-unique volume handles.

[2021-09-21 13:46] #269 closed

[2021-09-21 14:25] andyzhangx commented on #353
I think you could set up multiple PVs with different settings, e.g. network share, username

[2021-09-21 14:42] snazzysoftware commented on #353
Hi @andyzhangx ,

I agree that users could all specify their own configuration that uses different settings relative to each other.

The difficulty is how the users can reliably avoid specifying a configuration that is already in use. This is especially true when new users try a common, well-known network share to make sure the product is working for them.

If my project needs to enforce this uniq

[2021-09-21 14:57] snazzysoftware commented on #353
The bug reproduction steps above show that OS mount points are not correctly unmounted if multiple PVs are created that reference the same network host address, share name and username combination and then one of these PVs is deleted.

Have I provided enough information in my steps above for you to reproduce this bug?

Thank you for your help,

Best regards,
@snazzysoftware (Adam)

[2021-09-22 09:57] andyzhangx commented on #353
@snazzysoftware could you provide node driver logs on that agent node, follow by: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

If one PV is not used by any pod on the node, it should be unmounted when the last pod is terminated. There would be `NodeUnstageVolume` happened in node driver logs

[2021-09-22 13:45] snazzysoftware commented on #353
Hi @andyzhangx ,

I've followed the bug reproduction steps above and captured timings and logs. Please see the following test transcript that shows the commands I ran and the main timestamps. Please also find attached a zip of all the logs that include a warning from the NodeUnpublishVolume step (in `cs-smb-node-3.log`):
[code]

### Test Transcript
[code]

**Install the long-lived deployment:**
[c

[2021-09-22 14:14] andyzhangx commented on #353
I did not find `/csi.v1.Node/NodeUnstageVolume` logs in the 4 node driver logs, I am wondering is it due to these steps:
[code]

can you only delete deployment and check whether short-lived cifs mount is there?
[code]

[2021-09-23 10:28] snazzysoftware commented on #353
Hi @andyzhangx ,

I've run the bug reproduction steps above with your suggested modification to only delete the short-lived deployment. Please see the following test transcript that shows the commands I ran and the main timestamps. Please also find attached a zip of all the logs.

### Test Transcript
[code]

**Install the long-lived deployment:**
[code]

**Capture logs 1:**
[code]

**Check the hos

[2021-09-23 14:07] andyzhangx commented on #353
hi @snazzysoftware when you delete long-lived deployment, does the cifs mount of long-lived PV still exists?

Also I am not sure whether it's related, can you remove `storageClassName` and reset `volumeHandle`? I am not sure whether there is orphan pods on your existing node, maybe you should try on new node with exactly these two pv/pvc configs:
 - https://github.com/kubernetes-csi/csi-driver-smb

[2021-09-24 04:04] andyzhangx commented on #353
nvm, I got the repro on `v1.21.1` cluster, `NodeStageVolume` is never invoked after deployment deleted, will check how to solve this issue.

[2021-09-24 04:19] andyzhangx commented on #353
I got the root cause after checking kubelet logs, during `operationExecutor.UnmountDevice`, it will check whether there are other paths reference device mount path, unfortunately `GetDeviceMountRefs` will always return 2 references since they are using the same network access, e.g.
[code]
I think we may need to filter out if two references are in the same directory tree in k8s upstream `operationE

[2021-09-24 10:24] andyzhangx commented on #353
related code is here, not sure whether there is good way to fix this issue:
[code]
https://github.com/kubernetes/kubernetes/blob/7bff8adaf683dc7e25b5548e2c16e7393ff8a036/staging/src/k8s.io/mount-utils/mount_linux.go#L354-L372

[2021-09-27 19:18] kferrone opened #356 "[feature request] Volume Snapshot Support"
**Is your feature request related to a problem?/Why is this needed**
No snapshots.

**Describe the solution you'd like in detail**
Integrate with the core kubernetes snapshots.
https://kubernetes.io/docs/concepts/storage/volume-snapshots/

**Describe alternatives you've considered**
Valero advertised it can snapshot anything using the CSI driver, feature says coming soon for a very long time.
Othe

[2021-09-28 14:56] kferrone commented on #356
I see, that's a bummer. I have been researching and all I come across is something called `shadow copies`. Bummer, I guess it's not possible.

[2021-09-29 13:13] kettlereve opened #358 "SMB driver can't mount a certain mount"
Hello,

We are trying to mount a certain share ( that works on an a node level wonderfully )  but we are receiving some errors.

MountVolume.MountDevice failed for volume "ad-scenario-testing-cb-test-cifs2-pv" : rpc error: code = Internal desc = volume(ad-scenario-testing-cb-test-cifs) mount "//frd-ces..com/frd/" on "/var/lib/kubelet/plugins/kubernetes.io/csi/pv/ad-scenario-testing-cb-test-cifs2-p

[2021-09-29 13:18] andyzhangx commented on #358
why there is `Unknown mount option "tWK"` error?

[2021-09-29 14:01] kettlereve commented on #358
Hello Andy,

I have no idea, I've googled it a bunch of times and tried to find anything related to it but nothing comes up. I have no data on that message.

[2021-09-30 07:41] kettlereve commented on #358
Anyone has any ideas on this? I've tried debugging it but nothing really sheds any light on it.

Thank you

[2021-09-30 10:24] kettlereve commented on #358
Hello Andy,

Just fyi I found out what the problem is.

The RNG password had special characters in it, as in: + - , .               at some point the password looked like  adasdas,asdadas    <-- look at the comma.  I think the comma delimits that a new parameter is added . The new parameter would be: asdadas

So that message TWK is because we had in the password  ",TWK,"

In the end the solution i

[2021-09-30 10:30] kettlereve commented on #358
It does not work :) need to change the password and remove the " , "

[2021-10-08 12:37] kobi-toptal opened #360 "Windows node GRPC error: rpc error: code = Internal desc = failed to stat file"
On windows server 2019 csi-smb-node-win periodically logs the following errors:
[code]

**What happened**:
SMB share is mounted properly and storage I/O works. Also PV/PVC removal work fine. But above error is logged periodically.

**What you expected to happen**:
The specified directory in log output is created at container deployment step, this log ambiguous. No information in docs if it is crit

[2021-10-08 12:54] andyzhangx commented on #360
could you provide more complete logs? provide more detailed logs would help, thanks.
From the logs, it looks like pod(`41c110a6-e29f-481f-90c5c7841628f0bd`) cannot access `pvc-
768e288f-595f-4c4d-83bf-e55f00e81c00`

[2021-10-08 13:50] andyzhangx commented on #360
errro returned here, we may use `os.Lstat` instead of `os.Stat` for this driver
https://github.com/kubernetes-csi/csi-driver-smb/blob/d298cb856d8c9c213f95f5a49991df0e93b01779/pkg/smb/nodeserver.go#L259-L264

[code]

[2021-10-08 13:57] kobi-toptal commented on #360
error is returned from csi-driver-smb/pkg/smb/nodeserver.go, i was not able to trace back what calls it and how critical is it, can i ignore it in production?

[2021-10-08 14:14] andyzhangx commented on #360
@kobi-toptal I think you could ignore the error, and I also worked out a PR to fix this issue.

[2021-10-09 01:26] #360 closed

[2021-10-09 02:03] #358 closed

[2021-10-09 02:03] andyzhangx commented on #360
could you try latest version `mcr.microsoft.com/k8s/csi/smb-csi:latest` to verify? thanks.

[2021-10-09 03:20] #261 closed

[2021-10-13 08:48] sacesare commented on #329
Sorry, in my case it was "Secret" encoding issue, I've used "data", instead of "stringData". After changing to "stringData" all work as expected.

[2021-10-13 11:29] #329 closed

[2021-10-18 13:42] Chup4Chups opened #366 "[Nutanix Karbon deployed cluster] MountVolume.MountDevice failed [...] attacher.MountDevice failed to create newCsiDriverClient: driver name smb.csi.k8s.io not found in the list of registered CSI drivers"
Hi guys,

We recently installed csi-driver-smb to mount SMB share on one of our deployment (linux/amd64).
However, we are not able to have our PoC working with the steps below.
Could you please let me know if we missed something ?

**What happened**:  Pod with SMB volume stuck in status "ContainerCreating" due to FailedMount.

[code]

[code]

**What you expected to happen**: I expect the SMB volum

[2021-10-18 13:50] andyzhangx commented on #366
driver is not registered on the agent node, could you follow this guide to provide more info:
https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

[2021-10-18 14:46] andyzhangx commented on #366
may check `kubectl logs csi-smb-node-66xgt  -n kube-system -c node-driver-registrar -p` logs, there is failure in node-driver-registrar

[2021-10-18 15:25] Chup4Chups commented on #366
[code]

[code]

[code]

[2021-10-18 17:50] Chup4Chups commented on #366
I tried with 1.2.0, 1.3.0 and master and I have same behavior.
I also tried by using directly PV and PVC and the result is same, PV and PVC have "Bound" status but pod is in FailedMount with error
[code]
[code]

I attached logs and events from kube-system as well
[csi-smb-controller.log](https://github.com/kubernetes-csi/csi-driver-smb/files/7367507/csi-smb-controller.log)
[kube-system-events.log]

[2021-10-20 16:59] ioanc commented on #366
I am able to reproduce the same issue.
mounting the cifs share from inside any of the csi-smb-node-xxxxx is working.
Also mounting the same cifs share from the nodes is also working.

The problem seems to be with registering the csidriver.
Even bumping the verbosity of the registrar container to --v=5 there is no entry in the log, when the registration is failing

[code]

[code]
[root@ ~]# ls -l /

[2021-10-20 17:37] Chup4Chups commented on #366
I confirm the same as @ioanc

[code]

[code]

Any suggestion @andyzhangx ?

[2021-10-21 17:59] omerozery opened #367 "spec.volumes[0]: Required value: must specify a volume type"
**What happened**:
* spec.volumes[0]: Required value: must specify a volume type

**What you expected to happen**:
storage layer to be created pvc and pv

**How to reproduce it**:
just copy paste the generic ephemeral volume example from the docs.
https://v1-20.docs.kubernetes.io/docs/concepts/storage/ephemeral-volumes/
kubectl apply the below:
[code]
**Anything else we need to know?**:
that is pr

[2021-10-22 20:09] vptimmy opened #369 "Output: mount error(115): Operation now in progress"
Hello, I am using the CSI https://github.com/kubernetes-csi/csi-driver-smb/ for Kubernetes 1.21.5.  I have a windows share setup giving a user full access to it.

When I try to use it as a pvc I am getting the following errors from the csi-smb-controller:

[code]

Here is my storageClass yaml:
[code]
Here is my secret:

[code]
When I do a manual mount it works?
[code]

[2021-10-23 01:43] andyzhangx commented on #369
could you check `/var/log/syslog`, looks like it's a common issue: https://www.wikitechy.com/technology/mount-error-115-shares/

[2021-10-23 01:54] andyzhangx commented on #367
you could follow this example: https://github.com/kubernetes-csi/csi-driver-smb/blob/fe9b6de8c49e1999c3f4345ddacd3a2bb8001771/deploy/example/daemonset-ephemeral.yaml

[2021-10-23 05:00] #367 closed, assigned to nobody

[2021-10-23 22:50] #369 closed, assigned to nobody

[2021-10-31 15:08] #296 closed

[2021-11-01 10:59] ioanc commented on #366
@andyzhangx   do you have any other ideas on how we can make this work?
@subodh01 this might be interesting for you

[2021-11-02 11:43] devopstales commented on #176
It seems the problem was caused by incompatibility of the versions kubelet v1.20 and apiservers v1.19.

[2021-11-02 18:59] vchorny opened #373 "Error getting server version"
logs from failed pod container
kubectl logs csi-smb-controller-xxxxxxxxx -c csi-provisioner --previous

I1102 11:20:34.679700       1 feature_gate.go:243] feature gates: &{map[]}
I1102 11:20:34.679819       1 csi-provisioner.go:138] Version: v2.2.2
I1102 11:20:34.679842       1 csi-provisioner.go:161] Building kube configs for running in cluster...
F1102 11:20:34.772992       1 csi-provisioner.go:

[2021-11-03 06:02] andyzhangx commented on #373
that's expected when api-server could not be reached from your csi driver controller

[2021-11-03 06:02] #373 closed

[2021-11-03 08:09] vchorny commented on #373
Hi,
Can this error be wrapped by proper error message that explain what happens, like in explanation below.

Thanks

From: Andy Zhang ***@***.***>
Sent: Wednesday, November 3, 2021 8:03 AM
To: kubernetes-csi/csi-driver-smb ***@***.***>
Cc: Chorny, Vladimir ***@***.***>; Author ***@***.***>
Subject: Re: [kubernetes-csi/csi-driver-smb] Error getting server version (Issue #373)

that's expected when

[2021-11-03 09:40] andyzhangx commented on #373
I think you could file an issue in https://github.com/kubernetes-csi/external-provisioner

[2021-11-03 14:27] andyzhangx commented on #366
no idea, you may try the config `csi-node-driver-registrar:v2.2.0` from https://github.com/nutanix/csi-plugin/blob/719a06e139e8896d61ab20a953715c4661e11505/deploy/ntnx-csi-node.yaml#L23-L27

`csi-node-driver-registrar:v2.3.0` should support k8s v1.19, while it's better use v2.2.0 to narrow down issue.

[2021-11-04 11:37] ioanc commented on #366
@Chup4Chups @andyzhangx  I found a solution by changing the path for kubelet, to match the one in our cluster.
at the end of the post the changes that lead to the solution.

@andyzhangx  please change the title to include Nutanix Karbon

[code]

[2021-11-04 11:41] andyzhangx commented on #366
o, your kubelet path is different, chart install provides `linux.kubelet` parameter to customize this kubelet path. Thanks for the finding.

[2021-11-04 15:59] ioanc commented on #366
indeed, for Nutanix Karbon deployed cluster, using the linux.kubelet parameter did the trick

[code]

[2021-11-05 05:22] #366 closed

[2021-11-06 12:13] #305 closed

[2021-11-07 10:22] #267 closed

[2021-11-18 20:54] drigz opened #376 ""Unmount skipped because path does not exist" when subPath is deleted"
**What happened**:

I noticed that sometimes our pods get stuck in Terminating, and when I look at the kubelet logs I see:

[code]

**What you expected to happen**:

Pods can be deleted, even if a directory has been deleted on the smbserver.

**How to reproduce it**:

I set up a volume mount based on the examples pv-smb.yaml, pvc-smb-static.yaml, deployment.yaml, with some exceptions:

- I created

[2021-11-19 03:00] andyzhangx commented on #376
related to this PR: https://github.com/kubernetes/kubernetes/pull/105348 and this issue: https://github.com/kubernetes/kubernetes/issues/97031

[2021-11-24 13:50] #345 closed

[2021-11-28 23:36] willat8 opened #383 "arm64 broken since v1.3.0"
Looks like c1a65f8 swapped the registry to MCR which doesn't provide arm64 images. v1.2.0 and below works fine on arm64.

[2021-11-29 04:24] andyzhangx commented on #383
which tag are you trying? `mcr.microsoft.com/k8s/csi/smb-csi:v1.4.0` should has arm64 image:
[code]

[code]

[2021-11-29 06:30] willat8 commented on #383
Hi @andyzhangx, thanks, the problem is with /oss/kubernetes-csi/csi-provisioner image

[2021-11-29 06:35] andyzhangx commented on #383
try with `--set image.csiProvisioner.repository=k8s.gcr.io/sig-storage/csi-provisioner` in chart install

[2021-11-29 07:11] willat8 commented on #383
Thank you, I'll use that workaround.

[2021-11-29 18:50] vitaliy-leschenko opened #385 "Can't use storage-class more than ones."
**What happened**:
Pods that use csi-driver-smb PVC when we have another PVC that connected to the same smb share.

**What you expected to happen**:
Possibility to use the same smb server in multiple PV/PVC

**How to reproduce it**:
[code]

**Anything else we need to know?**:
csi-proxy.log:
[code]

**Environment**:
- CSI Driver version: 1.4.0
- Kubernetes version (use `kubectl version`): 1.22.2
-

[2021-11-30 02:31] andyzhangx commented on #385
pls only use one PVC for same file share on Windows, there is a limitation on windows, find details here: https://github.com/kubernetes-csi/csi-driver-smb/issues/219

[2021-11-30 20:57] vitaliy-leschenko commented on #385
So, as I understand we have no reason to use storage classes because it may be used only once.

[2021-12-01 02:43] andyzhangx commented on #385
@vitaliy-leschenko that's a limitation on Windows, you could still use storage class to get dynamic provisioning, while you could only use one PVC

[2021-12-01 02:44] #385 closed

[2021-12-03 09:29] #383 closed

[2021-12-08 08:05] ahmetcetin commented on #312
hi @andyzhangx we have the same problem, randomly some pods cannot mount the volumes, after killing them they start to mount magically. it happens really randomly. we're using the latest version of the driver.

[2021-12-08 08:11] andyzhangx commented on #312
@ahmetcetin could you paste the detailed mount error?

[2021-12-08 11:09] ahmetcetin commented on #312
thank you for quick reply, at the moment it all pods worked again after removing them, but it happens quite frequently several times a day, as soon as I get the error again, I'll post the error here. when I check the pod events, it says it cannot mount the volume only. where can I get the detailed error message?

[2021-12-08 14:14] andyzhangx commented on #312
@ahmetcetin follow guide here to get mount error logs: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

[2021-12-08 14:28] bbgobie commented on #312
@ahmetcetin After quite a bit of investigation, this turned out to be an issue with the Linux kernel.
Some symptoms that could manifest.
1. Unable to manually mount shares
2. Shares that were already mounted on the vm were inaccessible.

I believe the fixes for us were:
1. Ensure you do not mount sub folders of 2 mounts on same vm.
  Eg. <some_share>/dev/data -> /usr/mnts/data and <some_share>/dev

[2021-12-09 03:39] andyzhangx commented on #312
thanks for the reply, close this issue

[2021-12-09 03:39] #312 closed

[2021-12-09 07:15] ch0mik opened #389 "deamonsets works on master nodes"
please set the ex. PodAntiFinity that the deamonsets like csi-smb-node-XXXX not working on masters

Regards
Pawel

[2021-12-09 07:17] ch0mik opened #390 "csi-smb-controller-xxxxxxxxxx-yyyy works on worker nodes"
please change the the deployment that the csi-smb-controller-xxxxxxxxxx-yyyy plase only on master nodes

with Regards
Pawel

[2021-12-09 07:24] andyzhangx commented on #389
csi-smb-node actually works on master node

[2021-12-09 07:27] andyzhangx commented on #390
currently can csi-smb-controller run on both master and agent nodes, and there is `controller.nodeSelector` and `controller.affinity` to control which node it could run:

https://github.com/kubernetes-csi/csi-driver-smb/blob/bbf67af1dbdab1204ccdc735946e833df3738a3a/charts/latest/csi-driver-smb/values.yaml#L64-L72

[2021-12-09 07:51] ch0mik commented on #390
Thanks Andy!

IMO its should be out-of-the-box in next version - the controllers should only work with masters.

Regards
Pawel

[2021-12-09 07:59] #389 closed

[2021-12-09 08:51] andyzhangx commented on #390
@ch0mik why the controllers should only work with masters, the smb driver controller also needs mount remote file share, so as long as the connection with remove smb file share is ok, it should work no matter controller is on master or agent node.

[2021-12-11 19:38] ch0mik commented on #390
thanks!

[2021-12-11 19:38] #390 closed

[2021-12-13 13:45] #316 closed

[2021-12-16 16:01] erSitzt opened #393 "Supported SMB Versions ?"
Hi,

what are the currently supported smb versions ?
I didnt find any info...

[2021-12-17 03:22] #326 closed

[2021-12-20 03:53] andyzhangx commented on #393
it's smb 2.1, 3.0, 3.1

[2021-12-20 03:53] #393 closed

[2021-12-22 03:19] #276 closed

[2021-12-28 16:05] ppenzo opened #398 "[feature request] Dynamic provisioning of PVs referring existing SMB shares of NAS filers"
**Is your feature request related to a problem?/Why is this needed**
This driver can be use to dynamically create PV as a subpath of an existing SMB share but it cannot be used to dynamically create PV referencing existing shares since it does not handles extra parameters in the storageclass definition.

**Describe the solution you'd like in detail**
Dynamic provisioning of PV referring existing s

[2021-12-29 02:20] andyzhangx commented on #398
you mean add a `volumeAttributes.folderName` in PV setting? is it possible addpend folderName into `volumeAttributes.source`?

https://github.com/kubernetes-csi/csi-driver-smb/blob/1e388744b4fcc9bb29388833db80ecac9403caf0/deploy/example/pv-smb.yaml#L16-L21

[2021-12-29 08:41] ppenzo commented on #398
Not exactly.
The one  you pointed out is the manual PV definition which IMHO tought to maintain and which requires cluster admin privilege, at least on Openshift,  since it is related to the PV creation.
I would like to implement a dynamic creation of these PVs using PV claimns and storageclasses:
[code]

Obviously the SMB path //myNASfilerNode01/myNASShare must be existing and accessible with the

[2021-12-30 19:02] GuyPaddock commented on #198
/reopen

I believe something like this could solve some problems for us. We want pods to be able to connect to existing, pre-allocated storage accounts on a CIFS/SMB or NFS server without having to pre-declare a PV and manage a PVC for each one.

One question -- how would mount options like UID, GID, and authentication credentials be handled with an inline volume? I believe that the docs for inlin

[2021-12-30 19:03] GuyPaddock commented on #198
@andyzhangx would _you_ consider re-opening?

[2021-12-31 06:51] andyzhangx commented on #198
@GuyPaddock
there are concerns from community that we don't want to support this feature, details: https://github.com/kubernetes-csi/csi-driver-nfs/issues/148
cc @jsafrane

[2022-01-04 10:33] #398 closed

[2022-01-07 19:51] fidesachates opened #405 "Does not support armv7"
**What happened**:
Followed the README and used the install script for master and expected it to work on my kubernetes cluster that's running on pi's.

**What you expected to happen**:
For the controller csi pods to come up without issues.

**How to reproduce it**:
Run `curl -skSL https://raw.githubusercontent.com/kubernetes-csi/csi-driver-smb/master/deploy/install-driver.sh | bash -s master --` o

[2022-01-08 13:25] #335 closed

[2022-01-09 03:46] andyzhangx commented on #405
even controller is not applicable now, you could still use static provisioning(PV/PVC way), could you try that: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md#option2-pvpvc-usage

[2022-01-09 12:40] andyzhangx commented on #198
@GuyPaddock I re-evaluated this inline volume requirement, this would requires that pod could read any secret in same namespace, there is security risk to support such functionality. It would be ok for NFS driver since nfs does not use password auth, thus does not require reading secret.

So we don't want to implement Ephemeral Inline Volumes support for this SMB driver, pls use PV/PVC way, it can

[2022-01-09 22:39] winromulus commented on #347
@andyzhangx what do you mean by a dummy expansion and how would that be achieved?

[2022-01-10 02:43] andyzhangx commented on #347
@andyzhangx this driver could not expand the real volume size, if you input a larger volume size, this driver would just return success, that's called dummy expansion, not sure whether it's reasonable for such behavior.

[2022-01-11 18:36] maxisam opened #406 "Can't upgrade from 0.6.0"
**What happened**:

It is similar to #307 however, my case is more like upgrading from V0.6.0 to V1.4.0

I am aware of these 2 settings
[code]

However, it works with the new pvc, it doesn't work with the existing pvc.

**What you expected to happen**:

it should work after setting provisioner-secret

**How to reproduce it**:

Create dynamic PVC with V0.6.0 and upgrade to V1.4.0 It will only bind

[2022-01-13 16:17] maxisam commented on #406
So what is the upgrade path for this? Thanks!

[2022-01-14 05:31] maxisam commented on #406
That is a big one then. Thanks for answering anyway.

[2022-01-14 05:31] #406 closed

[2022-01-17 09:54] erSitzt opened #410 "attacherDetacher.DetachVolume failed to start for volume"
**What happened**:
After i noticed a master node with disk pressure in my cluster i found that the `kube-controller-manager` log was almost 50G.
It is logging several of these errors per second

[code]
I dont see any volumes with problems using kubectl

**What you expected to happen**:
No DetachVolume errors

**How to reproduce it**:
Not sure...

**Anything else we need to know?**:

**Environment*

[2022-01-17 11:15] andyzhangx commented on #410
follow this guide to provide more info: https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md

[2022-01-25 13:39] faandg commented on #164
@andyzhangx should this be reopened for follow up on linux nodes?

[2022-02-01 07:44] #340 closed

[2022-02-02 14:56] venbcbs opened #416 "CIFS mount failing with spaces in network path"
Hello Team,

CIFS Share mounting on to a pod is failing while the CIFS Network Path is having spaces in it.

We had this issue in Openshift 3.11 as well. Pods could not mount the CIFS network path with Spaces in it.
In Openshift 3.11 we were able to fix this by adding the double codes around network path and other attributes in the flex driver file. But in 4.x, CIFS is enabled by the daemonset. We

[2022-02-04 03:34] andyzhangx commented on #416
would you just add space in `source` field, I think it should work with this driver:
https://github.com/kubernetes-csi/csi-driver-smb/blob/4da71f982a8cadfedc9267bb409bea2a291cb1fe/deploy/example/storageclass-smb.yaml#L7-L9

[2022-02-06 14:29] GuyPaddock commented on #198
@andyzhangx Thank you for the context! That makes sense. We were using Azure Files but are now moving to Qumulo.

[2022-02-07 02:12] andyzhangx commented on #376
this subPath issue was fixed in `1.21.9`, `1.22.6`, `1.23.2`

[2022-02-07 02:12] #376 closed

[2022-02-07 02:14] andyzhangx commented on #198
@GuyPaddock do you have any suggestions why you are using Qumulo instead of Azure Files? thanks.

[2022-02-10 22:12] alexyao2015 opened #419 "Stale NFS file handle"
**What happened**:

When the smb server is terminated while still mounted to pods, the csi driver node does not umount the stale mount and create a new mount. This prevents new pods from starting even when the server is back online. Instead an error results. This can be resolved manually by restarting all the `csi-smb-node` pods.

[code]

**What you expected to happen**:

Not have to restart the `

[2022-02-11 13:05] andyzhangx commented on #419
the error shows `stale NFS file handle` while this is smb server

[2022-02-11 14:06] alexyao2015 commented on #419
Yes, this is correct. It's perplexing why it's showing stale nfs when it is smb.

[2022-02-21 17:30] steveizzle commented on #329
Got exactly the same behavior with the same use case.. Could you solve it?

[2022-02-21 19:58] steveizzle commented on #329
forget about that. was also caused by an error in creating the secret

[2022-02-23 00:52] GuyPaddock commented on #198
@andyzhangx Several reasons:
1. We needed more transparency around IOPS surges with real-time observability of storage consumption (Azure Files through Azure Monitor lags behind what's happening in production by several minutes).
2. Qumulo seems to handle small-file access with better performance than Azure Files.
3. Compared to Azure Files standard, Qumulo does not charge per-transaction.
4. Comp

[2022-03-01 19:53] prajwalv-netapp opened #427 "attacher.MountDevice failed to create newCsiDriverClient: driver name smb.csi.k8s.io not found in the list of registered CSI drivers"
Hi,
I have **csi-driver-smb**  v1.0.2 deployment(via helm charts v1.6.0) on a Kubernetes cluster with a windows worker node. I tested with sample application deployment on Linux node, it is working as expected.But when I try to create a deployment on a windows node, it says **driver name smb.csi.k8s.io not found in the list of registered CSI drivers**.

I have followed all the steps mentioned, her

[2022-03-02 09:59] andyzhangx commented on #427
there should be a `csi-smb-node-win` daemonset running on the windows node, and also csi-proxy service should be Running on the windows node.

[code]

[2022-03-02 14:28] prajwalv-netapp commented on #427
Thanks @andyzhangx . I am not able to bring the csi-proxy service up as it would fail. Running the csi-proxy executable file did the trick for me to bring the pod up.

[code]

[2022-03-02 14:30] andyzhangx commented on #427
@prajwalv-netapp then what's the csi-proxy error logs?

[2022-03-02 14:47] prajwalv-netapp commented on #427
log file is not created.

This is what happens

[code]

[2022-03-09 14:06] ppenzo opened #428 "Cannot mount an existing share via subDir parameter"
**What happened**:
The subDir parameter is not honoured in PVC and, when used in a storage class causes all the volumes to be attached to the share/directory specified in the SC definition.

**What you expected to happen**:
AFAIK the subDir parameter should allow the PVC to request a volume bounded to an existing share as per issue [#398]

**How to reproduce it**:
To reproduce just define a SC lik

[2022-03-09 14:31] andyzhangx commented on #428
I think this driver only honors `subDir: "TESTSHARE"` in storage class, it won't honor `volumeAttributes` in `PersistentVolumeClaim`. btw, is this pvc config valid?
[code]

[code]

[2022-03-09 14:52] ppenzo commented on #428
You are right! The PVC definition I've provided is not correct.
I'm sorry, I've applied it without enforcing the schema validation.

I'll try to use the annotation as you suggested. Please let me have some time to do some tests.

[2022-03-10 16:59] ppenzo commented on #428
Unfortunately the configuration you suggested does not work since the PVC annotations are not expanded and so the subdir value is treated literally.
The same occurs using a slitly different syntax:
`${.PVC.annotations.storagepath} `

[2022-03-14 16:31] mattcary opened #430 "Cloudbuild is broken"
See the [testgrid](https://k8s-testgrid.appspot.com/sig-storage-image-build#post-csi-driver-smb-push-images).

#429 made some progress, but wasn't enough. This may require not just examining logs but figuring out how to set up a local cloudbuild environment to test changes. I'll use this issue to track progress.

/assign @mattcary

[2022-03-14 20:44] kxs-jnadeau commented on #198
@andyzhangx : "So we don't want to implement Ephemeral Inline Volumes support for this SMB driver, pls use PV/PVC way, it can also connect to existing, pre-allocated storage accounts."_

I think there is a valid use case to support inline volumes just like how it is supported today with the Azure file CSI driver.    I.e. say someone uses Azure Netapp files for static volumes allocated to VMs (so n

[2022-03-20 13:03] NotANormalNerd commented on #164
This is still an issue.

[2022-03-21 22:09] liyanhui1228 opened #432 "NewSmbGlobalMapping failed when using containerd"
**What happened**: SMB volume mount failed for statefulset pod when using containerd, pod cannot startup.

**What you expected to happen**: volume mount should be successful.

**How to reproduce it**: Follow https://github.com/kubernetes-csi/csi-driver-smb/tree/master/deploy/example/windows with containerd as the container runtime on windows nodes.

It worked fine when using docker, just not worki

[2022-03-22 07:26] andyzhangx commented on #432
this driver should work on windows containerd, we have a `pull-csi-driver-smb-e2e-windows-containerd` test on Azure:  https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-smb/431/pull-csi-driver-smb-e2e-windows-containerd/1503991874367524864

The error is `The user name or password is incorrect`, could you check on your side?

[2022-03-23 08:57] E2M-ITOPS opened #434 "Liveness Probe of Container "node-driver-registrar" failes"
**What happened**:
We are running a TKGI managed Kubernetes Cluster with priviliged mode. I tried to deploy several versions of the csi-driver-smb but it runs always in a chrashloop backoff because a livenessprobe failed.

I checked the locations of kubelet but they seems to be fine, everything is located unter /var/lib/kubelet as expected

I get the following Error from csi-smb-node:

Liveness pr

[2022-03-23 10:53] andyzhangx commented on #434
the error log shows it has issue talking to kubelet, similar to issue: https://github.com/kubernetes-csi/csi-driver-smb/issues/335#issuecomment-896759440

[2022-03-24 13:53] E2M-ITOPS commented on #434
Thanks @andyzhangx I made the "bind" and "make shared" manual on the worker nodes.

I still receive an error but this one is a bit different:

Liveness probe failed: F0324 13:45:49.693049 14 main.go:159] Kubelet plugin registration hasn't succeeded yet,
file=/var/lib/kubelet/plugins/smb.csi.k8s.io/registration doesn't exist. goroutine 1 [running]: k8s.io/klog/v2.stacks(0xc0000b2001, 0xc000112600,

[2022-03-31 14:01] andyzhangx commented on #430
now it's stuck here: https://storage.googleapis.com/kubernetes-jenkins/logs/post-csi-driver-smb-push-images/1509427741022228480/build-log.txt

[2022-03-31 14:09] mattcary commented on #430
Looks like the cloudbuild expects release-tools/build.make to be used.

[2022-03-31 14:44] andyzhangx commented on #430
yes, that would require more work, I will check this later

[2022-04-01 07:16] ppenzo commented on #428
I went a big further on this issue discovering that it depends on the csi-external-provisioner which is used as sidecar container in the deployment.

Currently the csi-external-provisioner does not pass extra parameters nor annotations to the CSI driver and there are a couple of issues open on this: [https://github.com/kubernetes-csi/external-provisioner/issues/714](url) and [https://github.com/ku

[2022-04-05 13:20] NPellet opened #443 "CIFS Mount not performed despite logs indicating "mount succeeded""
EDIT:
Jump to [this comment](https://github.com/kubernetes-csi/csi-driver-smb/issues/443#issuecomment-1097648755) to understand the issue.

Basically I'm running microk8s and the mount points proposed in csi-smb-node.yaml need to be adjusted.

----

**What happened**:
I'm trying to mount a Samba share as a PV/PVC.
The logs  of csi-smb-node (ctn smb) indicate that it should all be ok

[code]

Howev

[2022-04-05 13:26] andyzhangx commented on #443
so finally the volume is mounted on the directory on the agent node instead of a smb mount?
could you check the `dmesg` and `/var/log/messages` logs whether the smb mount failed?

[2022-04-05 14:07] NPellet commented on #443
I enabled the crazy-level CIFS logging and compared with a manual mount. The two are awefully similar, and no error is thrown The dmesg for the csi mount:

[code]

Except for the fact that a samba session already exists when using a manual mount (I guess some kind of persistance) :

Manual mount
[code]

I wanted to check if perhaps the samba share was being magically somehow unmounted, so I cleare

[2022-04-05 21:54] marciogmorales opened #444 "An operation with the given Volume ID test-csi-driver-smb already exists"
**What happened**:
Fail to mount SMB Share.

[code]

- Already deleted pv/pvc and it is a brand new node.

**How to reproduce it**:

I'm following and using manifests provided in the example directory.

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: 1.5.0
- Kubernetes version (use `kubectl version`):  v1.22.6
- OS (e.g. from /etc/os-release): Windows Server 2019
- Kern

[2022-04-06 06:22] andyzhangx commented on #444
are you using the same volumeID(`test-csi-driver-smb`) within two PVs?

[2022-04-06 12:38] marciogmorales commented on #444
No,
The only PV in the cluster is this one for testing. I’m changing the volumeID for each new test.

[2022-04-06 12:42] andyzhangx commented on #444
@marciogmorales what's the driver logs on the node? https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed, I think the former mount hangs there.

[2022-04-06 13:26] marciogmorales commented on #444
`E0406 01:20:16.009936       1 utils.go:123] GRPC error: rpc error: code = Internal desc = failed to mount smb server: rpc error: code = Internal desc = volume(fs-002d771bfd375aac6.marciomorales.local/share#pvc-225ba4d3-d9f3-49c2-b21d-2861e582f70c#) mount "//fs-002d771bfd375aac6.marciomorales.local/share" on "/tmp/pvc-225ba4d3-d9f3-49c2-b21d-2861e582f70c" failed with mount failed: exit status 32
M

[2022-04-06 13:39] marciogmorales commented on #444
I0405 23:37:48.082133    7404 main.go:90] set up prometheus server on [::]:29645
I0405 23:37:48.278131    7404 smb.go:80]
DRIVER INFORMATION:
-------------------
Build Date: "2022-01-15T14:15:34Z"
Compiler: gc
Driver Name: smb.csi.k8s.io
Driver Version: v1.5.0
Git Commit: f2b55ed35ff9d4b52336e451d3d9ef4d8a1c8069
Go Version: go1.17
Platform: windows/amd64

Streaming logs below:
I0405 23:37:48.29238

[2022-04-06 13:46] marciogmorales commented on #444
CSI-SMB Controller logs.
I'm wondering why it is mounting on a Linux box, if it is to use on Windows nodes.

E0406 01:20:12.596353       1 utils.go:123] GRPC error: rpc error: code = Internal desc = failed to mount smb server: rpc error: code = Internal desc = volume(fs-002d771bfd375aac6.marciomorales.local/share#pvc-225ba4d3-d9f3-49c2-b21d-2861e582f70c#) mount "//fs-002d771bfd375aac6.marciomorale

[2022-04-06 13:47] andyzhangx commented on #444
the csi driver controller can only run on Linux

[2022-04-06 13:54] andyzhangx commented on #444
you could remove `csi.storage.k8s.io/provisioner-secret-name` in storage class, by that way, controller won't mount smb share on the Linux node.
I think it's stuck here when mounting smb file share on Windows node: https://github.com/kubernetes-csi/csi-driver-smb/blob/e7aeebd01df69058e4766d1942d3bb04eb14f91e/pkg/mounter/safe_mounter_windows.go#L104

[2022-04-06 14:01] andyzhangx commented on #444
have you installed csi-proxy on Windows node? https://github.com/kubernetes-csi/csi-driver-smb/blob/master/docs/csi-debug.md#configure-csi-proxy-on-windows-node

[2022-04-06 14:57] marciogmorales commented on #444
Yes, the CSI-Proxy is installed.

[2022-04-06 15:00] marciogmorales commented on #444
Manually it is working:

PS C:\Windows\system32> New-SmbGlobalMapping -RemotePath '\\fs-002d771bfd375aac6.marciomorales.local\share' -LocalPath G: -RequirePrivacy $true

cmdlet New-SmbGlobalMapping at command pipeline position 1
Supply values for the following parameters:
Credential

Status Local Path Remote Path
------ ---------- -----------
OK     G:         \\fs-002d771bfd375aac6.marciomorales.

[2022-04-06 18:50] marciogmorales commented on #444
Still the same even removing the Linux part, it keeps saying there is an existing operation on the volumeID, but the volume ID is new and only created to use on this test.

csi-smb-node-win:

I0406 18:41:17.548305    7788 utils.go:118] GRPC call: /csi.v1.Node/NodeStageVolume
I0406 18:41:17.548305    7788 utils.go:119] GRPC request: {"secrets":"***stripped***","staging_target_path":"\\var\\lib\\kub

[2022-04-07 08:50] andyzhangx commented on #444
try with `mcr.microsoft.com/k8s/csi/smb-csi:latest` in the `csi-smb-node-win` daemonset, I have added more logging in the mount, that would be easier for troubleshooting, while it won't solve current issue.

[2022-04-07 15:07] marciogmorales commented on #444
Hello Andy,
I created a whole new cluster, also using the latest smb-csi you mentioned above. Problem still the same.

Log:

I0407 14:53:25.981043    7312 main.go:90] set up prometheus server on [::]:29645
I0407 14:53:26.196821    7312 smb.go:80]
DRIVER INFORMATION:
-------------------
Build Date: "2022-04-07T08:24:48Z"
Compiler: gc
Driver Name: smb.csi.k8s.io
Driver Version: v1.6.0
Git Commit: e6

[2022-04-07 19:14] marciogmorales opened #447 "Liveness-probe container on Windows nodes fails to connect on containerd pipe"
**What happened**:

Something that called my attention on the Windows Daemonset when using containerd as runtime:

Liveness probe errored: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing open //./pipe/containerd-containerd: The system cannot find the file specified.

[code]

**What you expected to happen**:

Liveness probe to find //./pipe/containerd-c

[2022-04-07 20:02] jterry75 commented on #447
@marciogmorales - Can you quickly run pipelist on the instance and tell me if it has been renamed? You can check the containerd.toml as well

[2022-04-07 20:36] marciogmorales commented on #447
[code]

[2022-04-07 20:43] marciogmorales commented on #447
Sounds like it connects, but it always fails in the first attempt. Then the Liveness-probe container is re-created and the pipe connection sounds to establish.
[code]

[2022-04-07 21:21] marciogmorales commented on #444
Another interesting finding, after the fail I removed the PV, PVC and Deployment.

Still, my kubelet on Windows keeps sending the following log:

`E0407 21:17:49.977302    4088 nestedpendingoperations.go:335] Operation for "{volumeName:kubernetes.io/csi/smb.csi.k8s.io^test-13 podName: nodeName:}" failed. No retries permitted until 2022-04-07 21:19:51.9773021 +0000 GMT m=+2716.623702001 (durationBe

[2022-04-07 22:03] marciogmorales commented on #447
From the WIndows kubelet:

[code]

[2022-04-07 22:16] marciogmorales commented on #447
Then it successfully MountVolume:

[code]

But it fails

[code]

Then it hangs, even deleting the pod, an orphaned pod is created and try to keep the mount.

[code]

[2022-04-07 22:17] marciogmorales commented on #444
Then it successfully MountVolume:

[code]

But it fails

[code]

Then it hangs, even deleting the pod, an orphaned pod is created and try to keep the mount.

[code]

[2022-04-07 22:18] marciogmorales commented on #447
It sounds to be only during the first attempt to create the container, in the second try it works.

[2022-04-07 22:18] #447 closed

[2022-04-08 01:10] marciogmorales commented on #444
I do see the directory being created: C:\var\lib\kubelet\plugins\kubernetes.io\csi\pv\pv-smb , but suddenly the pod fails with the following message:

`E0408 01:05:38.157215    7356 utils.go:81] GRPC error: rpc error: code = Aborted desc = An operation with the given Volume ID eks-test-04 already exists`

[code]

[2022-04-08 01:45] andyzhangx commented on #444
the logs shows it's stuck when invoking csi-proxy:
[code]

[2022-04-08 01:53] marciogmorales commented on #444
Correct,
It hangs for a while, the local C:\var\lib\kubelet\plugins\kubernetes.io\csi\pv\pv-smb is created, but there is no SMB-GlobalMappings mounted.

Any idea on what could be?

[2022-04-08 01:56] andyzhangx commented on #444
@marciogmorales could you get csi-proxy service logs?

[2022-04-08 01:57] marciogmorales commented on #444
[code]

[2022-04-08 08:06] andyzhangx commented on #444
could you append ` --v=5` in csi-proxy service, thus you could get more logs.

[2022-04-08 13:50] andyzhangx commented on #444
it's stuck here: https://github.com/kubernetes-csi/csi-proxy/blob/4d2de613deaae4b498a8d1ac8cfb3f17a43c1497/pkg/os/smb/api.go#L71-L86

[2022-04-08 13:57] marciogmorales commented on #444
Ok.
Any suggestion? I opened an Issue on the CSIProxy Git, as it sounds to be more on CSIProxy, not CSI-SMB.

[2022-04-08 13:59] andyzhangx commented on #444
cc @jingxu97